.c-icon {
	display: inline-block;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 4px;
	padding: 0;
	position: relative;
	background: -webkit-gradient(linear, left top, left bottom, from(#72dbd4), to(#239ca3));
	background: linear-gradient(to bottom, #72dbd4, #239ca3);
	border: 1px solid darken($green-dark, 15);
	box-shadow: 0 0 2px darken($green-dark, 10), 0 0 5px darken($green-dark, 10) inset;
	transition: all 0.3s ease;

	@include res(s) {
		width: 32px;
		height: 32px;
	}

	&:hover,
	&:focus,
	&:active {
		box-shadow: 0 0 5px darken($green-dark, 10), 0 0 5px darken($green-dark, 10) inset;
	}

	&::after {
		position: absolute;
		left: 5px;
		top: 5px;
		bottom: 5px;
		right: 5px;
		content: "";
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	&-copy {
		&::after {
			background-image: url(../images/cabinet/icon-copy1.svg);
		}
	}

	&-pdf {
		&::after {
			background-image: url(../images/cabinet/icon-pdf.svg);
			left: 2px;
			top: 0;
			bottom: 2px;
			right: 2px;
		}
	}

	&-edit {
		&::after {
			background-image: url(../images/cabinet/icon-edit2.svg);
		}
	}

	&-info {
		&::after {
			background-image: url(../images/cabinet/icon-info2.svg);
		}
	}

	&-renew {
		&::after {
			background-image: url(../images/cabinet/icon-renew.svg);
		}
	}

	&-online {
		&::after {
			background-image: url(../images/cabinet/icon-phone.svg);
		}
	}

	&-completed {
		&::after {
			background-image: url(../images/cabinet/icon-complete.svg);
		}
	}

	&-delete {
		background: $pink;
		border: 1px solid darken($pink, 30);
		box-shadow: 0 0 2px darken($pink, 10), 0 0 5px darken($pink, 25) inset;

		&:hover,
		&:focus,
		&:active {
			box-shadow: 0 0 5px darken($pink, 10), 0 0 5px darken($pink, 25) inset;
		}

		&::after {
			background-image: url(../images/cabinet/icon-delete.svg);
		}


	}

	&-failed {
		background: $pink;
		border: 1px solid darken($pink, 30);
		box-shadow: 0 0 2px darken($pink, 10), 0 0 5px darken($pink, 25) inset;

		&:hover,
		&:focus,
		&:active {
			box-shadow: 0 0 5px darken($pink, 10), 0 0 5px darken($pink, 25) inset;
		}

		&::after {
			background-image: url(../images/cabinet/icon-failed.svg);
		}
	}

	&-cancel {
		background: $pink;
		border: 1px solid darken($pink, 30);
		box-shadow: 0 0 2px darken($pink, 10), 0 0 5px darken($pink, 25) inset;

		&:hover,
		&:focus,
		&:active {
			box-shadow: 0 0 5px darken($pink, 10), 0 0 5px darken($pink, 25) inset;
		}

		&::after {
			background-image: url(../images/cabinet/icon-cancel.svg);
		}
	}

	&-call-end {
		background: $pink;
		border: 1px solid darken($pink, 30);
		box-shadow: 0 0 2px darken($pink, 10), 0 0 5px darken($pink, 25) inset;

		&:hover,
		&:focus,
		&:active {
			box-shadow: 0 0 5px darken($pink, 10), 0 0 5px darken($pink, 25) inset;
		}

		&::after {
			background-image: url(../images/cabinet/icon-call-end.svg);
		}
	}

	&-held {

		background: linear-gradient(to bottom, #ffcb20, #e8ba2c);
		border: 1px solid #d9b13b;
		box-shadow: 0 0 2px #d9b13b, 0 0 2px #d9b13b inset;

		&:hover,
		&:focus,
		&:active {
			box-shadow: 0 0 5px #d9b13b, 0 0 2px #d9b13b inset;
		}

		&::after {
			background-image: url(../images/cabinet/icon-planning.svg);
		}
	}

	&-user-comment {

		background: linear-gradient(to bottom, #ffcb20, #e8ba2c);
		border: 1px solid #d9b13b;
		box-shadow: 0 0 2px #d9b13b, 0 0 2px #d9b13b inset;

		&:hover,
		&:focus,
		&:active {
			box-shadow: 0 0 5px #d9b13b, 0 0 2px #d9b13b inset;
		}

		&::after {
			background-image: url(../images/cabinet/icon-comment.svg);
		}
	}

	&-canceled {
		background: linear-gradient(to bottom, #b9b9b9, #a3a3a3);
		border: 1px solid darken(#a3a3a3, 15);
		box-shadow: 0 0 2px darken(#a3a3a3, 10), 0 0 5px darken(#a3a3a3, 25) inset;

		&:hover,
		&:focus,
		&:active {
			box-shadow: 0 0 darken(#a3a3a3, 10), 0 0 5px darken(#a3a3a3, 25) inset;
		}

		&::after {
			background-image: url(../images/cabinet/icon-failure.svg);
		}
	}









}


