p {
  margin: 0 0 15px;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}
.nav__item {
  margin: 0;
}
.nav__link {
  color: red;
}
.nav__link:hover {
  background: red;
}