.aside-sticky{
	position: sticky;
	top: 70px;
	@include res(l){
		top: 0;
		position: relative;
	}
}

.aside-assoc{
	display: block;
	margin-bottom: 25px;

	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.aside-consult{
	padding: 6px 6px 25px 6px;
	margin-bottom: 25px;

	.consult-banner-trigger{
		padding: 0 5px 0 7px;
		margin-bottom: 15px;
		align-items: flex-start;

		strong{
			font-size: 16px;
			font-weight: bold;
		}
	}

	.consult-banner-trigger__icon{
		width: 34px;
	}
}

.aside-consult__photo{
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	border-radius: 15px 15px 0 0;
}

.aside-consult__title{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.2;
	padding: 0 10px;
}

.aside-consult__free{
	color: $pink;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	font-size: 24px;
	text-align: center;
	padding: 0 10px;
}

.aside-consult__subtitle{
	font-style: italic;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 15px;
	padding: 0 10px;
}

.aside-consult__btnwrap{
	text-align: center;
	padding-top: 10px;
}

.aside-transform{
	img{
		display: block;
		width: 100%;
		height: auto;
	}
}


//aside-online
.aside-online{
	display: block;
	background: #FFF;
	padding: 5px;
	border-radius: 20px;
	box-shadow: $shadow-block-big;
	margin-bottom: 25px;

	img{
		display: block;
		width: 100%;
		border-radius: 18px;
	}
}
//aside-online