.half-banners-wall{
	.half-banner{
		margin-bottom: 25px;
	}
}

.half-banner{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	min-height: 300px;
	max-width: 615px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	color: $text-all;
	@include res(m){
		margin-bottom: 20px;
	}
	@include res(xs){
		padding: 25px;
		min-height: initial;
	}
}

.half-banner__top,.half-banner__middle,.half-banner__bottom{
	position: relative;
	z-index: 2;
}

.half-banner__img{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	pointer-events: none;
	user-select: none;
	@include res(xs){
		display: none;
		position: relative;
		right: -25px;
		width: 200%;
		align-self: flex-end;
		flex-shrink: 0;
		order: 2;
		margin-top: 10px;
	}
}

.half-banner--cover{
	.half-banner__img{
		height: 100%;
		object-fit: cover;
		object-position: right center;
	}

	&:before{
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(#FFF,0.7);
		opacity: 0;
		@include res(l){
			opacity: 1;
		}
		@include res(xs){
			opacity: 0;
		}
	}
}


.half-banner__title{
	margin-bottom: 0.6em;
}

.half-banner__descr{
	color: $text-dark-grey;
	max-width: 280px;
}

.half-banner__middle{
	padding: 15px 0;
	@include res(xs){
		padding-bottom: 0;
	}
}

.half-banner__price{
	background: $green;
	border-radius: 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	line-height: 1;
	padding: 14px 18px;

	strong{
		font-size: 26px;
	}
}

.half-banner__bottom{
	@include res(xs){
		padding-top: 15px;
	}
	.text-14{
		color: $text-dark-grey;
		max-width: 260px;
		@include res(xs){
			max-width: 100%;
		}
	}
}