.header-banner{
	background: #de164e;

	.container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include res(l){
			padding-right: 70px;
		}
		@include res(s){
			flex-direction: column;
			padding: 15px 16px;
		}
	}
}

.header-banner__imgwrap{
	position: relative;
	width: 240px;
	flex-shrink: 0;
	@include res(c){
		width: 100px;
	}
	@include res(s){
		display: none;
	}
	
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		max-width: 100%;
	}
}

.header-banner__center{
	padding: 15px;
	color: #FFF;
	@include res(s){
		padding: 0;
		margin-bottom: 15px;
		text-align: center;
	}
}

.header-banner__title{
	font-size: 22px;
	line-height: 1.2;
	@include res(c){
		font-size: 18px;
	}
	@include res(s){
		padding: 0 40px;
	}
	
	mark{
		color: $pink;
		text-transform: uppercase;
		background: #FFF;
		border-radius: 2px;
		padding: 2px 5px;
		margin: 0 3px;
		font-weight: normal;
	}
}

.header-banner__descr{
	font-size: 18px;
	line-height: 1.3;
	@include res(c){
		font-size: 14px;
	}

	a{
		border-bottom: 1px solid rgba(#FFF,0.5);
		transition: border 0.3s ease;

		&:hover{
			border-color: #FFF;
		}
	}
}


.header-banner__btn{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: $pink;
	background: #FFF;
	border-radius: 30px;
	padding: 0.6em 1.2em;
	transition: all 0.3s ease;
	white-space: nowrap;
	@include res(c){
		font-size: 14px;
	}
	@include res(xs){
		font-size: 12px;
	}
	
	&:hover{
		background: $pink;
		color: #FFF;
	}
}


.header-banner__close{
	@include cross;
	@include res(l){
		top: initial;
		bottom: 5px;
	}
}


// header-banner-covid
.header-banner-covid{
	background: url(../img/header/header-banner-covid.webp) center center no-repeat,
	linear-gradient(180deg, #53C1C0, #72DBD4);
	background-size: cover;
	padding: 20px 0;
	@include res(xl) {
		padding: 15px 0;
		background-position: right center;
	}
	@include res(l) {
		padding: 22px 0;
		background: linear-gradient(180deg, #53C1C0, #72DBD4);
	}
	@include res(s){
		padding: 0;
	}

	.container{
		justify-content: flex-start;
		@include res(m) {
			flex-direction: column;
			align-items: center;
		}
	}
}

.header-banner-covid__mark{
	font-weight: bold;
	font-size: 23px;
	background: $pink;
	border-radius: 30px;
	color: #FFF;
	padding: 10px 20px;
	line-height: 1.3;
	margin-right: 45px;
	text-align: center;
	@include res(xl) {
		font-size: 20px;
	}
	@include res(l) {
		font-size: 18px;
	}
	@include res(m) {
		margin-right: 0;
		margin-bottom: 10px;
	}
	@include res(s){
		font-size: 16px;
	}
	@include res(xs) {
		font-size: 12px;
		padding: 8px 15px;
	}
}

.header-banner-covid__span{
	font-size: 38px;
	font-weight: bold;
	line-height: 1.3;
	color: #FFF;
	text-shadow: 0px 4px 4px #7BC6C1;
	@include res(xl) {
		font-size: 26px;
	}
	@include res(l) {
		font-size: 20px;
	}
	@include res(s) {
		font-size: 16px;
	}
	@include res(xs) {
		font-size: 14px;
	}
}

.header-banner-covid--alt{
	.header-banner-covid__mark{
		background: #289FA4;
		font-size: 20px;
		text-transform: uppercase;
		@include res(xl) {
			font-size: 17px;
		}
		@include res(l) {
			font-size: 16px;
		}
		@include res(s) {
			font-size: 14px;
		}
		@include res(xs) {
			font-size: 12px;
		}
	}
	.header-banner-covid__span{
		font-size: 35px;
		text-transform: uppercase;
		@include res(xl) {
			font-size: 22px;
		}
		@include res(l) {
			font-size: 18px;
		}
		@include res(s) {
			font-size: 16px;
		}
		@include res(xs) {
			font-size: 14px;
		}
	}
}
// header-banner-covid


// header-banner-ny
.header-banner-ny {
	background: url(../img/header/header-banner-ny.webp) center center no-repeat,
		linear-gradient(180deg, #298183, #389394);
	background-size: cover;
	padding: 20px 0;

	@include res(xl) {
		padding: 15px 0;
		background-position: right center;
	}

	@include res(l) {
		padding: 22px 0;
		background: linear-gradient(180deg, #298183, #389394);
	}

	@include res(s) {
		padding: 0;
	}

	.container {
		justify-content: flex-start;

		@include res(m) {
			flex-direction: column;
			align-items: center;
		}
	}
}

.header-banner-ny__span{
	color: #FFF;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.1;
	margin-right: 20px;
	text-transform: uppercase;
	@include res(xl) {
		font-size: 22px;
	}

	@include res(l) {
		font-size: 18px;
	}

	@include res(m) {
		margin-top: 10px;
	}

	@include res(s) {
		font-size: 16px;
	}

	@include res(xs) {
		font-size: 14px;
	}
}

.header-banner-ny__mark {
	display: block;
	font-weight: bold;
	font-size: 20px;
	background: #54D1D3;
	border-radius: 30px;
	color: #FFF;
	padding: 12px 25px;
	line-height: 1.3;
	text-align: center;
	transition: all 0.3s ease;

	@include res(l) {
		font-size: 18px;
	}

	@include res(m) {
		margin-right: 0;
		margin-top: 20px;
	}

	@include res(s) {
		font-size: 16px;
	}

	@include res(xs) {
		font-size: 12px;
		padding: 8px 15px;
	}

	&:hover{
		background: darken(#54D1D3,8%);
	}
}
// header-banner-ny


// header-banner-slider
.header-banner-slider{
	user-select: none;

	&:hover{
		.header-banner-slider__prev,.header-banner-slider__next{
			opacity: 0.5;
		}
	}

	.swiper-slide{
		a{
			display: block;
		}

		img,picture{
			display: block;
			width: 100%;
		}
	}

	.header-banner-slider__prev,.header-banner-slider__next{
		position: absolute;
		z-index: 10;
		top: calc(50% - 15px);
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $black;
		background: #FFF;
		border-radius: 50%;
		font-size: 14px;
		cursor: pointer;
		transition: all 0.3s ease;
		opacity: 0;
		-webkit-tap-highlight-color: transparent;
		@include res(l) {
			opacity: 0.5;
			width: 24px;
			height: 24px;
			font-size: 10px;
		}

		&:hover{
			opacity: 1;
		}
	}

	.header-banner-slider__prev{
		left: 5px;
		@include res(s) {
			left: initial;
			top: initial;
			right: 36px;
			bottom: 5px;
		}
	}
	.header-banner-slider__next{
		right: 5px;
		@include res(s) {
			top: initial;
			bottom: 5px;
			right: 5px;
		}
	}
}

.header-banner-slider__close {
	@include cross;
	z-index: 20;

	@include res(l) {
		top: initial;
		bottom: 5px;
	}
}
// header-banner-slider