.info-block{
	display: flex;
	align-items: center;
	position: relative;
	background: #FFF;
	border-radius: 15px;
	border-width: 7px;
	border-style: solid;
	box-shadow: $shadow-panels;
	padding: 45px 35px;
	@include res(l){
		align-items: flex-start;
		padding: 25px;
		border-width: 5px;
	}
	@include res(m){
		padding-top: 45px;
	}
}

.info-block__icon{
	text-align: center;
	width: 30%;
	flex-shrink: 0;
	margin-right: 35px;
	@include res(l){
		width: 15%;
		margin-right: 25px;
	}
	@include res(m){
		position: absolute;
		top: -40px;
		width: 80px;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 0;
		right: 0;
		margin: 0 auto;
		background: #FFF;
		border-radius: 50%;
		border: 5px solid $green-bg;
	}

	img{
		max-width: 100%;
		@include res(m){
			width: 50px;
		}
	}
}

.info-block__icon--mob-simple{
	@include res(m){
		background: none !important;
		border: none !important;
	}
}

.info-block__content{

	.button{
		margin-top: 20px;
		@include res(xs){
			margin-top: 0;
		}
	}
}


.info-block--gray{
	border-color: $green-bg;
}

.info-block--red{
	border-color: $pink;

	.info-block__icon{
		border-color: $pink;
	}
}

.info-block--green{
	border-color: $green;

	.info-block__icon{
		border-color: $green;
	}
}

.info-block--white{
	border-color: #FFF;
	background: $bg-color;

	.info-block__icon{
		border-color: #FFF;
		@include res(m){
			background: $bg-color;
		}
	}
}


.info-block__label{
	display: inline-block;
	color: #FFF;
	background: $icons-gray-blue;
	border-radius: 20px;
	padding: 4px 10px;
	font-size: 14px;
	margin-bottom: 20px;
}


// info-block-mini
.info-block-mini{
	--bw: 7px;
	display: flex;
	align-items: stretch;
	position: relative;
	border-radius: 50px 15px 15px 50px;
	border-width: var(--bw);
	border-style: solid;
	box-shadow: $shadow-panels;
	background: #FFF;
	@include res(l) {
		--bw: 5px;
	}
	@include res(m) {
		border-radius: 15px;
	}
}

.info-block-mini__icon{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	min-height: 220px;
	flex-shrink: 0;
	border-radius: 50px 50px 0 50px;
	margin: calc(var(--bw) * -1) 0 calc(var(--bw) * -1) calc(var(--bw) * -1);
	@include res(l) {
		width: 110px;
		min-height: 110px;
	}
	@include res(m) {
		width: 70px;
		height: 70px;
		min-height: initial;
		position: absolute;
		top: -40px;
		left: 0;
		right: 0;
		margin: 0 auto;
		border-radius: 25px 25px 0 25px;
	}

	img{
		width: 100px;
		height: 100px;
		max-width: 50%;
		max-height: 50%;
	}
}

.info-block-mini__content {
	align-self: center;
	padding: 40px;

	@include res(l) {
		padding: 30px;
	}

	@include res(m) {
		padding: 45px 25px 25px 25px;
	}
}

.info-block-mini--green {
	border-color: $green;

	.info-block-mini__icon {
		background: linear-gradient(145deg, #72DBD4, #64C6BF);
	}
}

.info-block-mini--red {
	border-color: $pink;

	.info-block-mini__icon {
		background: linear-gradient(145deg, #FF8C9E, #F85E76);
	}
}
// info-block--mini