@font-face {
	font-family: 'Prounbc';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../font/ProunBC-Bold.woff2") format("woff2"),
	url("../font/ProunBC-Bold.woff") format("woff");
}
@font-face {
	font-family: 'Prounc';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../font/ProunC-Bold.woff2") format("woff2"),
	url("../font/ProunC-Bold.woff") format("woff");
}
@font-face {
	font-family: 'Prounc';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/ProunC.woff2") format("woff2"),
	url("../font/ProunC.woff") format("woff");
}
@font-face {
	font-family: 'Psaltyr';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/Psaltyr.woff2") format("woff2"),
	url("../font/Psaltyr.woff") format("woff");
}
@font-face {
	font-family: 'Pushkin';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/Pushkin.woff2") format("woff2"),
	url("../font/Pushkin.woff") format("woff");
}
@font-face {
	font-family: 'Trebuchetms';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/TrebuchetMS.woff2") format("woff2"),
	url("../font/TrebuchetMS.woff") format("woff");
}
@font-face {
	font-family: 'Zerovelo';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/zerovelo.woff2") format("woff2"),
	url("../font/zerovelo.woff") format("woff");
}
@font-face {
	font-family: 'Zippc   ';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/zippc___.woff2") format("woff2"),
	url("../font/zippc___.woff") format("woff");
}
@font-face {
	font-family: 'Zrnic Cyr';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/zrnic_cyr.woff2") format("woff2"),
	url("../font/zrnic_cyr.woff") format("woff");
}
@font-face {
	font-family: 'Zurichcalligraphic';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/ZurichCalligraphic Italic.woff2") format("woff2"),
	url("../font/ZurichCalligraphic Italic.woff") format("woff");
}
