
.hidden {
	display: none !important;
}



.container {
	margin: 0 auto;
	width: 100%;
	max-width: $container_width;
	position: relative;
	padding-left: 35px;
	padding-right: 35px;
	@include res(l){
		padding-left: 15px;
		padding-right: 15px;
	}
}

