.fns {

   .container {
      padding-left: 0;
   }

	&-form {

      padding-top: 30px;

		&-row {
			margin-bottom: 20px;
		}

		.input-text {
			margin-bottom: 20px;
		}

		&__title {
			margin-bottom: 25px;

         @include res(xxs) {
            margin-bottom: 15px;
         }
		}

		&__sub-title {
			margin-bottom: 10px;
		}

		&__items {
			margin-bottom: 36px;
		}

		&__item {
         margin-bottom: 30px;
		}

		&__footer {
			.button {
				margin-bottom: 20px;
			}
		}

      &__period-list {

      }

      &__period-item {
         margin-bottom: 15px;
      }

	}

	.input-text--short {
		max-width: 320px;
	}

	.style-checkbox,
	.style-radio2 {
		font-size: 17px;
	}

}

.style-checkbox--dark {

	span::before {
		border: 1px solid #cedae1;
		border-radius: 0.2em;
	}

}



.air-datepicker {
   box-shadow: 0 3px 35px 0 rgba(166,191,207,0.7);
   border-radius: 20px;
   padding: 10px 15px;
   border: none;
}

.pb .air-datepicker-body--day-name {
   color: #72dbd4 !important;
}
.pb .air-datepicker-cell.-selected- {
   background: #ff5274 !important;
}

