//s-about-social-portrets
.s-about-social-portrets{
	text-align: center;
	overflow: hidden;

	.h1{
		margin-bottom: 0.5em;
	}

	.text-18{
		margin-bottom: 20px;
		@include res(xs){
			font-size: 14px;
		}
	}

	img{
		max-width: 100%;
	}

	.winners-slider{
		margin-top: 60px;
		@include res(xs){
			margin-top: 40px;
		}
	}
}
//s-about-social-portrets


//info-blocks-slider
.info-blocks-slider{
	.swiper-slide{
		padding: 20px 24px;
		@include res(m){
			padding-top: 40px;
		}

		.info-block{
			box-shadow: 0 5px 15px 0 rgba(#578B8D,0.25);
		}
	}

	.slider-arrow--prev{
		left: 12px;
	}

	.slider-arrow--next{
		right: 12px;
	}
}
//info-blocks-slider


//s-about-winners
.s-about-winners{

}

.about-winners-tabs{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.about-winners-tabs__item{
	border: 1px solid $text-dark-grey;
	color: $text-dark-grey;
	border-radius: 20px;
	font-size: 14px;
	padding: 10px 25px;
	cursor: pointer;
	margin: 0 10px 10px 10px;
	white-space: nowrap;
	user-select: none;
	transition: all 0.3s ease;
	@include res(l){
		font-size: 12px;
		padding: 8px 15px;
		margin: 0 5px 5px 5px;
	}

	&.active,&:hover{
		color: #FFF;
		background: $icons-gray-blue;
		border-color: $icons-gray-blue;
	}
}

.about-winners-wrapper{
	position: relative;
}

.about-winner{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;

	&.active{
		position: relative;
		z-index: 2;
		visibility: visible;
		opacity: 1;
	}

	.content-photo{
		margin-bottom: 70px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	.h2{
		margin-bottom: 25px;
	}

	.checked-round-list{
		margin-bottom: 25px;
	}

	.plus-icon-block{
		margin-bottom: 20px;

		&:last-child{
			margin-bottom: 0;
		}
	}
}
//s-about-winners


//s-about-social-bottom
.s-about-social-bottom{
	.sec-title{
		max-width: 100%;
	}

	.about-social__content{
		.h2{
			@include res(c){
				font-size: 2vw;
			}
			@include res(m){
				font-size: 26px;
			}
			@include res(s){
				font-size: 22px;
			}
		}
	}
}
//s-about-social-bottom


//vote
.vote{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	text-align: center;
	background: url('../img/votes/vote.webp') center top no-repeat;
	background-size: contain;
	font-size: 10px;
	width: 10em;
	height: 10em;
	color: $black;

	strong{
		font-size: 2.8em;
		line-height: 1;
		font-weight: bold;
	}

	span{
		font-size: 1.2em;
		font-weight: bold;
		line-height: 1;
	}

	small{
		font-size: 1em;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		font-weight: bold;
		width: 2.2em;
	}

	&--narod{
		background: url("../img/votes/vote-narod.webp") center top no-repeat;
		background-size: contain;

		strong{
			font-size: 4em;
		}
	}

	&--clinik{
		background: url("../img/votes/vote-clinik.webp") center top no-repeat;
		background-size: contain;

		strong{
			font-size: 4em;
		}
	}

	&--place{
		background: url("../img/votes/vote-place.webp") center top no-repeat;
		background-size: contain;
	}
}
//vote


//winners-slider
.winners-slider{
	overflow: visible;

	.slider-arrow--prev{
		left: calc(50% - 285px);
		@include res(s){
			left: calc(50% - 135px);
		}
	}

	.slider-arrow--next{
		right: calc(50% - 285px);
		@include res(s){
			right: calc(50% - 135px);
		}
	}
}

.winners-slider__item{
	width: 568px;
	flex-shrink: 0;
	@include res(s){
		width: 280px;
	}

	&.swiper-slide-active{
		.tl-winner{
			opacity: 1;
			transform: scale3d(1,1,1);
		}
	}
}

.tl-winner{
	margin: 0 20px;
	opacity: 0.5;
	transform: scale3d(0.8,0.8,1);
	transition: all 0.6s ease;
	will-change: transform,opacity;
	@include res(l){
		opacity: 1;
		transform: none;
		transition: none;
	}
}

.tl-winner__top{
	position: relative;
	background: url("../img/tl/stars.webp") center top no-repeat;
	background-size: contain;

	.vote{
		font-size: 12px;
		@include res(s){
			font-size: 8px;
		}
	}
}

.tl-winner__big-photo{
	display: block;
	width: 100%;
	height: auto;
}

.tl-winner__votes{
	position: absolute;
	left: 0;
	top: 50px;
	@include res(s){
		top: 0;
	}
}

.tl-winner__place{
	position: absolute;
	right: 0;
	top: 50px;
	@include res(s){
		top: 0;
	}
}

.tl-winner__before{
	position: absolute;
	bottom: -20px;
	right: 0;
	width: 170px;
	border-radius: 20px 20px 0 0;
	@include res(s){
		width: 80px;
		bottom: 0;
		right: 5px;
	}
}

.tl-winner__bottom{
	position: relative;
	z-index: 2;
	box-shadow: 0 18px 60px 0 rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	background: #FFF;
	padding: 10px;
	@include res(s){
		padding: 5px;
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
	}
}

.tl-winner__content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-image: url("../img/tl/left.webp"),url("../img/tl/right.webp");
	background-position: 20px 30px, calc(100% - 20px) 30px;
	background-repeat: no-repeat;
	background-color: #FFF;
	border-radius: 15px;
	box-shadow: 0 18px 60px 0 rgba(0, 0, 0, 0.1);
	padding: 0 50px 25px 50px;
	@include res(s){
		background: #FFF;
		padding: 0 10px 15px 10px;
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
	}
}

.tl-winner__year{
	margin-bottom: 20px;
	background: #eff2f3;
	border-radius: 0 0 10px 10px;
	color: $gray-text;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 15px 5px 15px;
	@include res(s){
		font-size: 14px;
	}
}

.tl-winner__surname{
	font-weight: bold;
	font-size: 28px;
	line-height: 1.1;
	text-transform: uppercase;
	margin-bottom: 0.1em;
	@include res(s){
		font-size: 20px;
	}
}

.tl-winner__name{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
	@include res(s){
		font-size: 14px;
	}
}

.tl-winner__city{
	font-weight: bold;
	font-size: 16px;
	line-height: 1.3;
	margin-bottom: 15px;
	@include res(s){
		font-size: 12px;
	}
}
//winners-slider