//s-garant-prices
.s-garant-prices{
	background: #FFF;
}

.garant-prices{
	padding-top: 50px;

	.btn-center{
		margin-top: 60px;
	}
}

.garant-prices-row{
	@include res(s){
		margin-bottom: -40px;
	}
}

.garant-prices__title{
	text-align: center;
	margin-bottom: 30px;
	@include res(s){
		margin-bottom: 20px;
	}
}

.garant-price{
	display: block;
	position: relative;
	min-height: 190px;
	background: $bg-color;
	border-radius: 10px;
	padding: 25px 35px;
	transition: box-shadow 0.3s ease;
	@include res(l){
		padding: 15px 25px 30px 25px;
	}
	@include res(s){
		margin-bottom: 40px;
		min-height: initial;
	}

	&:hover{
		box-shadow: $shadow-panels;

		.btn-round-icon{
			background: $pink;
			transform: scale3d(1.5,1.5,1);
		}
	}

	.btn-round-icon {
		position: absolute;
		bottom: -20px;
		left: calc(50% - 20px);
	}

	.text-20{
		margin-top: 10px;
	}
}
//s-garant-prices


//white-panel-simple
.white-panel-simple-wall{
	margin-bottom: -20px;

	.white-panel-simple{
		margin-bottom: 20px;
	}
}

.white-panel-simple{
	background: #FFF;
	border-radius: 20px;
	padding: 35px;
	@include res(s){
		padding: 20px 25px;
	}
}

.match-height-items{
	[class*=grid]{
		display: flex;
		align-items: stretch;
	}
}
//white-panel-simple


//white-panel-video
.white-panel-video{
	.video-screen{
		@include res(s){
			margin-bottom: 20px;
		}
	}

	.user-content{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 100%;

		.button{
			margin-top: auto;
		}
	}
}
//white-panel-video