//s-pravo-dogovor
.s-pravo-dogovor{
	min-height: 730px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	padding: 120px 0;
	@include res(xl){
		min-height: 500px;
	}
	@include res(l){
		min-height: initial;
		padding: 40px 0;
	}
	@include res(m){
		padding-bottom: 65%;
		background-size: 150% auto;
		background-position: right bottom;
	}
}

.pravo-dogovor{
	max-width: 50%;
	@include res(m){
		max-width: 100%;
	}

	.h1{
		margin-bottom: 0.5em;
	}

	.button{
		margin-top: 30px;
	}
}
//s-club-bottom


//clinic-pravo-block
.clinic-pravo-blocks-wall{
	margin-bottom: -30px;
}

.clinic-pravo-block{
	background: #FFF;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 30px;
	@include res(l){
		font-size: 14px;
	}
}

.clinic-pravo-block__sec{
	padding: 25px 30px;
	border-bottom: 1px solid rgba($icons-gray-blue,0.5);
	@include res(xs){
		padding: 15px 20px;
	}

	&:last-child{
		border-bottom: none;
	}
}

.clinic-pravo-block__param{
	display: block;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: $icons-gray-blue;
	margin-bottom: 0.5em;
}

.clinic-pravo-block__img{
	display: block;
	width: 100%;
	height: auto;
	margin-top: -1px;
}
//clinic-pravo-block