//about-support-block
.about-support-block{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	background: #FFF;
	border-radius: 10px;
	overflow: hidden;
	padding: 25px 30px;
	min-height: 550px;
	@include res(c){
		font-size: 15px;
	}
	@include res(l){
		margin-bottom: 20px;
		min-height: 300px;
	}
	@include res(s){
		min-height: initial;
	}
	@include res(xs){
		padding: 20px;
	}

	.h2{
		position: relative;
		z-index: 2;
		margin-bottom: 0.5em;
		max-width: 80%;
		@include res(s){
			max-width: 100%;
		}
	}

	.user-content{
		position: relative;
		z-index: 2;
		max-width: 60%;
		margin-bottom: 20px;
		@include res(s){
			max-width: 100%;
		}
	}

	.button{
		z-index: 2;
		margin-top: auto;
	}
}

.about-support-block__img{
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	max-width: 42%;
	pointer-events: none;
	@include res(l){
		height: 90%;
	}
	@include res(s){
		display: none;
	}
}
//about-support-block


//s-find-team
.s-find-team{
	min-height: 692px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	padding: 90px 0;
	@include res(xl){
		min-height: 500px;
	}
	@include res(l){
		min-height: initial;
		padding: 40px 0;
	}
	@include res(m){
		padding-bottom: 54%;
		background-size: 150% auto;
		background-position: right bottom;
	}
}

.find-team{
	max-width: 50%;
	@include res(m){
		max-width: 100%;
	}

	.h1{
		margin-bottom: 0.5em;
	}

	.button{
		margin-top: 40px;
		@include res(m){
			margin-top: 25px;
		}
	}
}
//s-find-team