//about-nav-panels
.about-nav-panels{

}

.about-nav-panel{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	min-height: 500px;
	border: 1px solid rgba(154, 181, 202, 0.5);
	border-radius: 10px;
	background: $bg-color;
	transition: all 0.3s ease;
	margin-top: 30px;
	@include res(l){
		min-height: 270px;
	}
	@include res(m){
		max-width: 190px;
		margin-left: auto;
		margin-right: auto;
		min-height: 240px;
	}
	@include res(xs){
		min-height: 220px;
	}
	
	&:hover{
		background: #FFF;
		border-color: #FFF;
		z-index: 2;
		box-shadow: $shadow-panels;

		.btn-round-icon{
			background: $pink;
			transform: scale3d(1.5,1.5,1);
		}
	}

	.btn-round-icon{
		position: absolute;
		left: 0;
		right: 0;
		bottom: -20px;
		margin: 0 auto;
	}
}

.about-nav-panel__content{
	padding: 25px 20px 10px 25px;
	font-size: 14px;
	@include res(c){
		padding: 15px 15px 10px 15px;
	}

	.h3{
		margin-bottom: 15px;
		@include res(xs){
			font-size: 16px;
		}
	}

	p,ul{
		@include res(l){
			display: none;
		}
	}
}

.about-nav-panel__img{
	display: block;
	width: 100%;
	height: auto;
}
//about-nav-panels


//about-learning
.s-about-learning{
	overflow: hidden;
}

.about-learning{

}

.about-learning-photo{
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	user-select: none;
	margin-bottom: -125px;
	@include res(l){
		margin-bottom: -5%;
	}
	@include res(m){
		width: 150%;
		left: 50%;
		transform: translate(-50%,0);
	}
}


.about-learning-slider{

	.slider-arrow{
		top: 100px;
		transform: none;
		@include res(l){
			top: 75px;
		}

		&--next{
			right: 15px;
		}

		&--prev{
			left: 15px;
		}
	}

	.swiper-slide{
		width: 217px;
		@include res(l){
			width: 150px;
		}
	}
}

.about-learning-hero{
	text-align: center;

	.lead{
		margin-bottom: 0.3em;
		@include res(l){
			font-size: 14px;
		}
	}

	.text-14{
		@include res(l){
			font-size: 10px;
		}
	}
}

.about-learning-hero__photo{
	position: relative;
	height: 250px;
	background: #FFF;
	border-radius: 15px;
	overflow: hidden;
	margin-bottom: 25px;
	@include res(l){
		height: 173px;
		margin-bottom: 15px;
	}

	img{
		display: block;
		width: 100%;
		height: auto;
	}
}
//about-learning


//s-about-associations
.s-about-associations{

}

.about-associations__text{
	padding-top: 30px;
	@include res(m){
		padding-top: 0;
	}

	.button{
		margin-top: 20px;
	}
}

.about-associations__big-img{
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	@include res(m){
		width: 400px;
	}
}

.about-assoc-logos{
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	margin: 0 -15px;
	@include res(m){
		overflow: auto;
		padding-bottom: 20px;
	}
}

.about-assoc-logos__item{
	padding: 0 15px;
	@include res(m){
		flex-shrink: 0;
	}

	a{
		display: block;

		&:hover{
			img{
				box-shadow: 0 4px 40px rgba(113, 171, 174, 0.6);
			}
		}
	}

	img{
		display: block;
		width: 100%;
		border-radius: 10px;
		box-shadow: 0 4px 40px rgba(113, 171, 174, 0.25);
		transition: box-shadow 0.3s ease;
		@include res(m){
			height: 67px;
			width: auto;
			box-shadow: 0 4px 16px rgba(113, 171, 174, 0.45);
		}
	}
}
//s-about-associations


//s-about-teledent
.s-about-teledent{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 90px;
	padding-bottom: 70px;
	min-height: 600px;
	@include res(l){
		min-height: 400px;
		padding-top: 50px;
		padding-bottom: 50px;
		background-size: auto 100%;
	}
	@include res(m){
		padding-bottom: 50%;
		background-size: 150% auto;
		background-position: right bottom;
		padding-top: 0;
	}
}

.about-teledent{
	max-width: 440px;
	@include res(m){
		max-width: 100%;
		text-align: center;
	}

	.h1{
		margin-bottom: 0.4em;
	}

	.text-18{
		margin-bottom: 25px;
	}

	.button{
		width: 15em;
	}

	.round-text{
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		@include res(m){
			display: none;
		}
	}
}
//s-about-teledent


//s-about-clinics
.s-about-clinics{

}

.about-clinics__title{
	margin-bottom: 0.5em;
}

.about-clinics-nav{
	margin-bottom: 45px;
	@include res(l){
		margin-bottom: 20px;
	}
}

.about-clinics-nav__btn{
	margin-right: 20px;

	&.active{
		background: $text-dark-grey;
		border-color: $text-dark-grey;
		color: #FFF;
	}
}

.about-clinics-content{
	position: relative;
	@include res(m){
		margin-bottom: 20px;
	}
}

.about-clinics-content__item{
	display: none;

	&.active{
		display: block;
	}

	.text-18{
		@include res(l){
			font-size: 16px;
		}
		@include res(xs){
			font-size: 14px;
		}
	}
}

.about-clinics__photo{
	display: none;
	max-width: 100%;
	height: auto;

	&.active{
		display: block;
	}
}
//s-about-clinics


//s-about-comfort
.s-about-comfort{

}

.comfort-triggers{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 35px 25px 25px 25px;
	@include res(l){
		justify-content: center;
		flex-wrap: wrap;
		padding: 25px;
	}

	.comfort-item{
		max-width: 290px;
	}
}

.about-comfort-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}
//s-about-comfort


//about-tech
.s-about-tech{
	@include res(m){
		margin-bottom: -20px;
	}
}

.about-tech{
	display: flex;
	position: relative;
	background: #FFF;
	border-radius: 20px;
	transition: all 0.3s ease;
	height: 400px;
	padding: 100px 0 30px 35px;
	overflow: hidden;
	@include res(l){
		height: 300px;
		padding-top: 60px;
	}
	@include res(m){
		margin-bottom: 20px;
	}
	@include res(xs){
		padding: 20px;
		height: 200px;
	}

	&:hover{
		box-shadow: $shadow-panels;

		.button{
			background: $text-dark-grey;
			border-color: $text-dark-grey;
			color: #FFF;
		}
	}
}

.about-tech__content{
	max-width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	z-index: 2;
	@include res(xs){
		max-width: 55%;
	}

	.button{
		margin-top: auto;
	}

	.text-18{
		@include res(c){
			font-size: 16px;
		}
		@include res(m){
			font-size: 14px;
		}
	}
}

.about-tech__img{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	max-width: 52%;
	@include res(m){
		max-height: 100%;
	}
	@include res(xs){
		width: 140px;
	}
}
//about-tech


//about-social
.s-about-social{
	z-index: 2;
	@include res(m){
		margin-bottom: -30px;
	}
}

.about-socials-wall{
	margin-bottom: -30px;

	.about-social{
		margin-bottom: 30px;
	}
}

.about-social{
	display: flex;
	flex-direction: column;
	position: relative;
	background: #FFF;
	border-radius: 20px;
	transition: all 0.3s ease;
	min-height: 500px;
	@include res(l){
		min-height: 400px;
		font-size: 14px;
	}
	@include res(m){
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		min-height: initial;
	}

	&:hover{
		box-shadow: $shadow-panels;

		.btn-round-icon{
			background: $pink;
			transform: scale3d(1.5,1.5,1);
		}
	}

	.btn-round-icon{
		position: absolute;
		left: 0;
		right: 0;
		bottom: -20px;
		margin: 0 auto;
	}
}

.about-social__content{
	padding: 25px 30px 10px 30px;
	@include res(l){
		padding: 15px 20px 10px 20px;
	}

	br{
		@include res(m){
			display: none;
		}
	}

	.h2{
		margin-bottom: 0.3em;
	}
}

.about-social__img{
	display: block;
	flex-shrink: 0;
	margin-top: auto;
	width: 100%;
	height: auto;
	border-radius: 0 0 20px 20px;
}
//about-social


//about-smi-slider
.s-about-smi{
	overflow: hidden;
}

.about-smi-slider{
	width: 489px;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
	@include res(l){
		width: 250px;
	}

	.swiper-slide-active,.swiper-slide-duplicate-active{
		.about-smi__item{
			transform: scale3d(1,1,1);
		}
	}
}

.about-smi__item{
	display: block;
	width: 100%;
	transform: scale3d(0.7,0.7,1);
	transition: transform 0.4s ease;
	will-change: transform;

	img{
		display: block;
		width: 100%;
		height: auto;
	}
}
//about-smi-slider


//about-subscribers-stage
.about-subscribers-stage{
	position: relative;
	padding-top: 20px;
	@include res(m){
		padding-top: 0;
	}

	.round-text{
		position: absolute;
		left: calc(50% - 250px);
		top: 0;
		@include res(m){
			display: none;
		}
	}
}

.about-subscribers-stage__img{
	display: block;
	width: 100%;
	height: auto;
}
//about-subscribers-stage


//s-about-dogovor
.s-about-dogovor{
	display: flex;
	align-items: center;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	min-height: 600px;
	@include res(xl){
		min-height: 500px;
	}
	@include res(l){
		min-height: 400px;
	}
	@include res(m){
		padding-bottom: 40%;
		background-position: right bottom;
		background-size: 150% auto;
		min-height: initial;
		padding-top: 20px;
	}

	.user-content{
		max-width: 580px;
		@include res(l){
			max-width: 480px;
		}
		@include res(m){
			max-width: 100%;
		}
	}
}
//s-about-dogovor


//s-about-cite
.s-about-cite{
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	min-height: 600px;
	@include res(m){
		padding-top: 0 !important;
		padding-bottom: 64% !important;
		background-position: 90% bottom;
		background-size: 200% auto;
	}
}

.about-cite{
	max-width: 55%;
	margin-bottom: 100px;
	@include res(m){
		max-width: 100%;
		margin-bottom: 40px;
	}
	@include res(xs){
		margin-bottom: 20px;
	}
}

.about-cite__q{
	display: flex;
	align-items: flex-start;
	margin-top: 25px;
	@include res(xs){
		font-size: 14px;
	}

	img{
		margin-right: 20px;
		flex-shrink: 0;
		@include res(s){
			width: 30px;
		}
	}
}

.about-cite-bottom{
	display: flex;
	align-items: center;
	padding-left: 80px;
	@include res(l){
		padding-left: 0;
		justify-content: space-between;
	}
	@include res(m){
		flex-direction: column;
	}

	.video-btn-text{
		margin-right: 100px;
		@include res(c){
			margin-right: 60px;
		}
		@include res(l){
			margin-right: 0;
		}
		@include res(m){
			margin-bottom: 30px;
		}
	}
}

.about-cite__hero{
	width: 220px;
	background: #FFF;
	border-radius: 10px;
	box-shadow: $shadow-panels;
	padding: 10px 20px;
	margin-left: auto;
	@include res(l){
		margin-left: 0;
	}
	@include res(m){
		display: none;
	}

	strong{
		display: block;
		text-transform: uppercase;
		font-size: 14px;
		margin-bottom: 0.2em;
	}
}
//s-about-cite