// s-club-header
.s-club-header{
	background: url(../img/club/header-bg.webp) center top no-repeat;
	background-size: cover;

	.container{
		&:after{
			display: none;
		}
	}
	
	.intro-header__actions{
		padding-top: 35px;
	}

	.intro-header{
		.h2{
			max-width: 22em;
			@include res(s) {
				font-size: 18px;
				max-width: initial;
			}
		}
		p{
			width: 35em;
			max-width: 90%;
			@include res(s) {
				max-width: 100%;
			}
		}
	}
}

.club-header-stage{
	--club-head-sizer: 10px;
	position: absolute;
	bottom: 0;
	left: 52%;
	width: calc(var(--club-head-sizer) * 85.2);
	user-select: none;
	@include res(xl) {
		--club-head-sizer: 8px;
	}
	@include res(l) {
		--club-head-sizer: 6px;
	}
	@include res(m) {
		position: relative;
		left: 0;
		right: 0;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	@include res(xs) {
		--club-head-sizer: 5px;
	}
}

.club-header-stage__bubbles{
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	z-index: 1;
	pointer-events: none;
}

.club-header-stage__woman{
	display: block;
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 3;
	bottom: 0;
	right: 0;
	pointer-events: none;
}

.club-header-stage__video{
	position: absolute;
	z-index: 2;
	top: calc(var(--club-head-sizer) * 12);
	left: calc(var(--club-head-sizer) * 9);
	width: calc(var(--club-head-sizer) * 49);
	height: calc(var(--club-head-sizer) * 27.4);
	border: calc(var(--club-head-sizer) * 0.8) solid #FFF;
	border-radius: calc(var(--club-head-sizer) * 3);
	box-shadow: 0px 3px calc(var(--club-head-sizer) * 9) rgba(84, 99, 106, 0.35);
	object-fit: cover;
	background: #eee;
	cursor: pointer;
	transition: box-shadow 0.3s ease;

	&:hover{
		box-shadow: 0px 3px calc(var(--club-head-sizer) * 9) rgba(84, 99, 106, 0.6);
	}
}
// s-club-header


// s-club-descr
.s-club-descr{
	overflow: hidden;
}

.club-descr{
	position: relative;
	font-size: 36px;
	text-align: center;
	line-height: 1.35;
	max-width: 32em;
	margin-left: auto;
	margin-right: auto;
	@include res(xxl) {
		font-size: 30px;
	}
	@include res(xl) {
		font-size: 26px;
	}
	@include res(l) {
		font-size: 22px;
	}
	@include res(s) {
		font-size: 18px;
	}

	p{
		margin-bottom: 1em;

		&:last-child{
			margin-bottom: 0;
		}
	}

	mark{
		background: none;
		color: $gray-text;
	}
}

.club-descr__img-left{
	position: absolute;
	top: -40px;
	left: -240px;
	@include res(l) {
		display: none;
	}
}

.club-descr__img-right{
	position: absolute;
	bottom: -100px;
	right: -220px;
	@include res(l) {
		display: none;
	}
}

.club-descr-video{
	padding-top: 50px;
	text-align: center;

	p{
		max-width: 14em;
		margin-left: auto;
		margin-right: auto;
		line-height: 1.3;
		margin-bottom: 1em;
	}

	.button{
		width: 200px;
	}
}
// s-club-descr


// s-club-banner
.s-club-banner{

}

.club-banner{
	position: relative;
	background: 
		radial-gradient(circle at 0% 0%, rgba(255, 255, 235, 0.7), rgba(255, 255, 235, 0) 50%),
		radial-gradient(circle at 75% 50%, rgba(255, 255, 235, 0.7), rgba(255, 255, 235, 0) 50%),
		#E7CBAE;
	border-radius: 20px;
	padding: 60px;
	@include res(l) {
		padding: 40px;
	}
	@include res(s) {
		padding: 20px;
	}
}

.club-banner__content{
	width: 670px;
	max-width: 60%;
	@include res(m) {
		width: 100%;
		max-width: 100%;
	}

	.h2{
		margin-bottom: 0.8em;
	}

	.h3{
		margin-bottom: 0.7em;
	}
}

.club-banner__list{
	display: flex;
	gap: 6px 25px;
	font-size: 16px;
	line-height: 1.3;
	@include res(c) {
		font-size: 14px;
	}
	@include res(l) {
		gap: 6px 15px;
	}
	@include res(s) {
		flex-direction: column;
	}

	br{
		@include res(s) {
			display: none;
		}
	}
}

.club-banner__bottom{
	padding-top: 40px;
	display: flex;
	align-items: center;
	gap: 12px 24px;
	@include res(l) {
		padding-top: 30px;
	}
	@include res(s) {
		flex-direction: column;
	}

	.button{
		flex-shrink: 0;
	}
}

.club-banner__note{
	@include res(s) {
		text-align: center;
	}
	
	.text-14{
		@include res(l) {
			font-size: 12px;
		}
	}
}

.club-banner__img{
	position: absolute;
	top: 10px;
	right: 0;
	max-width: 40%;
	@include res(m) {
		position: relative;
		top: 0;
		margin-top: 10px;
		left: 10px;
		width: 244px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}
// s-club-banner


// s-club-doctor
.s-club-doctor{
	background: $all-blue;
	padding: 105px 0;
	margin-top: 50px;
	min-height: 830px;
	@include res(xl) {
		padding: 80px 0;
		min-height: 750px;
	}
	@include res(l) {
		min-height: initial;
		margin-top: 0;
		padding: 60px 0;
	}
	@include res(m) {
		padding-bottom: 0;
	}
}

.club-doctor{
	width: 650px;
	max-width: 50%;
	@include res(m) {
		width: 100%;
		max-width: 100%;
	}
}

.club-doctor__form{
	padding-top: 45px;
	display: grid;
	gap: 18px 30px;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	@include res(l) {
		gap: 15px 15px;
	}
	@include res(m) {
		grid-template-columns: 1fr;
		padding-top: 30px;
		max-width: 320px;
	}

	.style-check-ios{
		margin-top: 0;
		@include res(m) {
			order: 2;
			margin-top: 10px;
		}
	}
}

.club-doctor__img{
	position: absolute;
	bottom: 0;
	left: 53%;
	user-select: none;
	pointer-events: none;
	@include res(xl) {
		width: 540px;
		max-width: 42%;
	}
	@include res(m) {
		display: block;
		position: relative;
		left: 0;
		right: 0;
		margin: 30px auto 0 auto;
		width: 200px;
		max-width: 100%;
	}
}
// s-club-doctor


// s-club-steps
.s-club-steps{
	z-index: 2;
}

.club-steps{
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	align-items: center;
	gap: 15px;
	@include res(m) {
		align-items: stretch;
	}
	@include res(xs) {
		grid-template-columns: minmax(0, 1fr);
	}
}

.club-step{
	position: relative;
	max-width: 500px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	box-shadow: 0px 30px 100px rgba(79, 122, 162, 0.2);
	padding: 10px;
	background: #FFF;

	&:before{
		content: '';
		width: 134px;
		height: 126px;
		position: absolute;
		@include res(l) {
			width: 90px;
		}
		@include res(m) {
			display: none;
		}
	}

	.h2{
		@include res(m) {
			font-size: 20px;
		}
	}

	.text-18{
		@include res(m) {
			font-size: 14px;
		}
	}
}

.club-step-separate{
	@include res(m) {
		display: none;
	}
}

.club-step--left-ar{
	&:before{
		background: url(../img/club/step-ar-left.webp) bottom right no-repeat;
		background-size: contain;
		right: calc(100% + 30px);
		bottom: 30px;
	}
}

.club-step--right-ar{
	&:before{
		background: url(../img/club/step-ar-right.webp) bottom right no-repeat;
		background-size: contain;
		left: calc(100% + 30px);
		bottom: 30px;
	}
}

.club-step__img{
	display: block;
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.club-step__text{
	padding: 20px;
	@include res(s) {
		padding: 10px;
	}

	.h2{
		color: $green-dark;
		margin-bottom: 0.2em;
	}
}

.club-step-begin{
	width: 460px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	@include res(m) {
		grid-column: span 2;
		width: 100%;
		margin-bottom: 20px;
	}
	@include res(xs) {
		grid-column: span 1;
	}

	.h1{
		margin-bottom: 0.5em;
	}
}

.club-step-end{
	width: 510px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	@include res(m) {
		grid-column: span 2;
		width: 100%;
		margin-top: 20px;
	}
	@include res(xs) {
		grid-column: span 1;
	}

	.h1{
		margin-bottom: 0.5em;
		@include res(s) {
			text-align: center;
		}
	}

	.text-18{
		max-width: 20em;
		@include res(s) {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.intro-header__actions{
		padding-top: 20px;
	}
}
// s-club-steps


// s-club-speek
.s-club-speek{
	min-height: 973px;
	background: url(../img/club/speek-bg.webp) center top no-repeat;

	.text-18{
		@include res(l) {
			font-size: 16px;
		}
		@include res(s) {
			font-size: 14px;
		}
	}

	.content-photo{
		margin-bottom: 100px;
		@include res(xl) {
			margin-bottom: 80px;
		}
		@include res(s) {
			margin-bottom: 60px;
		}
	}
}

.club-speak-stage{
	position: relative;
	width: 615px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	@include res(xl) {
		width: 540px;
	}
	@include res(m) {
		width: 300px;
	}
}

.club-speak-img{
	width: 100%;
	display: block;
	border-radius: 30px;
	box-shadow: 0 0 0 8px #FFF, 0px 4px 40px rgba(156, 179, 181, 0.15);
	@include res(m) {
		box-shadow: 0 0 0 4px #FFF, 0px 2px 20px rgba(156, 179, 181, 0.15);
		border-radius: 15px;
	}
}

.club-speak-smile{
	position: absolute;
	top: 40%;
	right: -80px;
	width: 139px;
	@include res(xl) {
		right: -40px;
		width: 100px;
	}
	@include res(c) {
		right: -30px;
	}
	@include res(l) {
		right: -15px;
		width: 70px;
	}
	@include res(m) {
		top: 30%;
	}
}
// s-club-speek


// s-club-order
.s-club-order{
	min-height: 851px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;
	@include res(l) {
		min-height: initial;
		padding-bottom: 60px;
		padding-top: 0;
	}
	@include res(m) {
		padding-bottom: 55%;
		background-position: 90% bottom;
		background-size: 150% auto;
	}
}

.club-order{
	width: 500px;
	max-width: 45%;
	@include res(m) {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		text-align: center;
		width: 380px;
		max-width: 100%;
	}

	.h1{
		margin-bottom: 0.5em;
	}
}

.club-order__descr{
	max-width: 22em;
	@include res(m) {
		font-size: 14px;
		max-width: 100%;
	}
}

.club-order__form{
	margin-top: 36px;
	background: #FFF;
	border-radius: 20px;
	box-shadow: $shadow-panels;
	max-width: 380px;
	padding: 30px;
	@include res(m) {
		margin-left: auto;
		margin-right: auto;
		margin-top: 24px;
		padding: 20px;
	}

	.h2{
		margin-bottom: 0.7em;
	}
}
// s-club-order


// s-clients
.s-clients{

}

.clients-thumbs__wrapper {
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 25px;
}

.clients-thumbs{
	overflow: visible;

	.swiper-slide{
		width: 376px;
		@include res(xl) {
			width: 300px;
		}
		@include res(s) {
			width: 240px;
		}
	}

	.slider-arrow{
		width: 32px;
		height: 32px;
	}

	.slider-arrow--prev{
		left: calc(50% - 375px / 2 - 16px);
		@include res(xl) {
			left: calc(50% - 300px / 2 - 16px);
		}
		@include res(s) {
			left: calc(50% - 240px / 2 - 16px);
		}
	}

	.slider-arrow--next{
		right: calc(50% - 375px / 2 - 16px);
		@include res(xl) {
			right: calc(50% - 300px / 2 - 16px);
		}
		@include res(s) {
			right: calc(50% - 240px / 2 - 16px);
		}
	}

	.swiper-slide-active {
		.client-thumb{
			box-shadow: 0px 5px 20px rgba(79, 122, 162, 0.2);
			opacity: 1;
		}
	}
}


.client-thumb{
	width: 100%;
	background: #FFF;
	border-radius: 20px;
	box-shadow: 0px 5px 20px rgba(79, 122, 162, 0);
	opacity: 0.4;
	transition: opacity 0.6s ease,box-shadow 0.6s ease;
	cursor: pointer;
	user-select: none;
	padding: 6px; 

	&:hover{
		opacity: 0.7;
	}

	.big-gray-btn {
		margin-top: 6px;
		border-radius: 15px;
		@include res(s) {
			font-size: 14px;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

.client-thumb__photo{
	position: relative;
	background: radial-gradient(50% 50% at 50% 50%, #FDFEFE, #EDF5F9);
	border-radius: 15px;
	margin-bottom: 6px;

	img{
		display: block;
		width: 100%;
	}
}

.client-thumb__content{
	position: relative;
	padding: 18px;
	@include res(xl) {
		padding: 12px;
	}
	@include res(s) {
		padding: 6px;
	}

	&:before{
		content: '';
		width: 36px;
		height: 27px;
		background: url(../img/club/client-preview-q.svg);
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 12px;
		right: 8px;
		@include res(s) {
			width: 24px;
		}
	}
}

.client-thumb__name{
	font-size: 14px;
	line-height: 1.25;
	color: $gray-text;
	margin-bottom: 1em;
	@include res(s) {
		font-size: 12px;
	}
}

.client-thumb__cite{
	color: $icons-blue;
	font-size: 18px;
	line-height: 1.35;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical; 
	overflow: hidden;
	@include res(xl) {
		font-size: 14px;
	}
	@include res(s) {
		font-size: 13px;
	}
}



.clients{
	position: relative;
	margin-top: 40px;
	@include res(m) {
		margin-top: 20px;
	}
}

.client{
	display: none;
	visibility: hidden;
	opacity: 0;

	&.active{
		display: block;
		opacity: 1;
		visibility: visible;
	}
}

.client__main{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 46px;
	align-items: flex-start;
	@include res(m) {
		grid-template-columns: 1fr;
		gap: 20px;
	}
}

.client__left{
	background: #FFF;
	border-radius: 20px;
	box-shadow: $shadow-panels;
	@include res(m) {
		max-width: 360px;
		margin-left: auto;
		margin-right: auto;
	}
}

.client__ba{
	position: relative;
	background: url(../img/club/client-ba-smile.svg) center bottom no-repeat;
	background-size: 75% auto;
	margin-top: 30px;
	border-bottom: 1px solid #C8DDEA;
	@include res(m) {
		margin-top: 15px;
	}

	&:before{
		content: '';
		position: absolute;
		width: 104px;
		height: 47px;
		background: url(../img/club/before-text.webp);
		background-size: contain;
		background-repeat: no-repeat;
		left: 110px;
		top: 10px;
		z-index: 5;
		@include res(l) {
			left: 80px;
			top: 0;
			width: 70px;
		}
	}

	&:after{
		content: '';
		position: absolute;
		width: 73px;
		height: 79px;
		background: url(../img/club/after-text.webp);
		background-size: contain;
		background-repeat: no-repeat;
		left: 72%;
		top: 20px;
		z-index: 5;
		@include res(l) {
			top: 0;
			width: 50px;
		}
	}
}

.client__before{
	position: absolute;
	z-index: 3;
	left: 30px;
	top: 70px;
	border-radius: 50%;
	width: 120px;
	@include res(l) {
		width: 80px;
		left: 15px;
		top: 40px;
	}
	@include res(m) {
		width: 70px;
		top: 20px;
	}
}

.client__after{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 560px;
	max-width: 93%;
	z-index: 4;
}

.client__info{
	padding: 30px 40px;
	@include res(l) {
		padding: 20px;
	}
}

.client__name{
	margin-bottom: 0.3em;
}

.client__geo-age{
	margin-bottom: 24px;
	color: $gray-text;
	@include res(l) {
		font-size: 14px;
		margin-bottom: 16px;
	}
}

.client__right{
	
}

.client__descr{
	margin-bottom: 24px;
	font-size: 16px;
	@include res(l) {
		font-size: 14px;
	}
}

.client__actions{
	display: flex;
	align-items: center;
	gap: 10px 30px;
	@include res(l) {
		gap: 10px 15px;
	}
	@include res(xs) {
		flex-direction: column;
	}

	.intro-header__play{
		@include res(l) {
			gap: 5px;
		}

		img{
			width: 46px;
			height: 46px;
			@include res(l) {
				width: 36px;
				height: 36px;
			}
		}
	}
}

.client__meta{
	margin-top: 36px;
	background: $all-blue;
	border-radius: 20px;
	padding: 30px;
	@include res(m) {
		margin-top: 20px;
		padding: 15px;
	}
}

.client__status{
	display: flex;
	align-items: center;
	gap: 6px;
	margin-bottom: 14px;

	.h4{
		@include res(xl) {
			font-size: 18px;
		}
	}

	mark{
		background: #FFF;
		border-radius: 7px;
		padding: 2px 10px;
		color: $icons-blue;
		font-size: 18px;
		@include res(l) {
			font-size: 16px;
		}
		@include res(xs) {
			font-size: 14px;
		}
	}
}

.client__list{
	font-size: 16px;
	@include res(l) {
		font-size: 14px;
	}
}

.client__doctors{
	margin-top: 24px;
	@include res(m) {
		margin-top: 16px;
	}

	.h4{
		margin-bottom: 0.5em;
	}
}

.client__doctors__row{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 6px 20px;
	@include res(l) {
		grid-template-columns: 1fr 1fr;
	}
	@include res(xs) {
		grid-template-columns: 1fr;
	}
}

.client__doctor{
	display: flex;
	align-items: center;
	gap: 8px;
	color: $pink;
	line-height: 1.2;
	font-size: 16px;
	@include res(l) {
		font-size: 14px;
	}

	img{
		width: 44px;
		flex-shrink: 0;
		border-radius: 50%;
	}
}

.client__photos__wrapper{
	position: relative;
	margin-top: 46px;
	@include res(l) {
		margin: 30px auto 0 auto;
		max-width: calc(100% - 40px);
	}

	.slider-arrow {
		width: 32px;
		height: 32px;
	}

	.slider-arrow--prev {
		left: -15px;
	}

	.slider-arrow--next {
		right: -15px;
	}
}

.client__photos{

	.swiper-slide{
		width: 240px;
		@include res(l) {
			width: 160px;
		}
		@include res(s) {
			width: 120px;
		}

		img{
			display: block;
			width: 100%;
			border-radius: 20px;
			@include res(l) {
				border-radius: 15px;
			}
		}
	}
}

.clients-bottom-nav{
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding-top: 40px;

	.button--outline-gray{
		color: $pink;
		@include res(s) {
			font-size: 12px;
			padding-left: 10px;
			padding-right: 10px;
		}

		&:active,&:focus{
			color: #FFF;
		}

		&:hover{
			color: #FFF;
			@include res(l) {
				color: $pink;
			}
		}

		svg{
			@include res(s) {
				display: none;
			}
		}
	}
}
// s-clients