//s-clinic-header
.s-clinic-header{
	background-position: center top;
	background-color: $gray-bg;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 90px;
	padding-bottom: 100px;
	min-height: 687px;
	@include res(c){
		min-height: initial;
	}
	@include res(l){
		padding-top: 40px;
		padding-bottom: 80px;
	}
	@include res(m){
		padding-bottom: 0;
		background: none !important;
	}

	&:after{
		@include res(m){
			display: none;
		}
	}
}

.clinic-header{
	max-width: 58%;
	@include res(m){
		max-width: 100%;
		text-align: center;
	}
}

.clinic-header__title{
	margin-bottom: 0.5em;
}

.clinic-header__phone{
	font-style: italic;
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 40px;
	@include res(l){
		font-size: 20px;
	}
	@include res(m){
		margin-bottom: 20px;
	}
}

.clinic-header__phone__title{

}

.clinic-header__phone__number{
	font-size: 1.5em;
	white-space: nowrap;
}

.clinic-header__params{
	display: flex;
	margin-bottom: 25px;
	@include res(m){
		justify-content: center;
	}
	@include res(xs){
		flex-direction: column;
	}

	.clinic-header__param{
		margin-right: 30px;
		text-align: left;
		@include res(m){
			margin: 0 15px;
		}
		@include res(xs){
			margin-bottom: 15px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	br{
		@include res(xs){
			display: none;
		}
	}
}

.clinic-header__param{
	.lead{
		display: flex;
		align-items: center;
		color: $gray-text;
		margin-bottom: 5px;

		.i{
			flex-shrink: 0;
			font-size: 20px;
			width: 25px;
		}
	}
}

.clinic-header__param__val{
	display: block;
	padding-left: 25px;
	line-height: 1.3;
	@include res(xs){
		font-size: 14px;
	}
}

.clinic-header__actions{
	display: flex;
	align-items: center;
	@include res(m){
		justify-content: center;
	}
	@include res(s){
		flex-direction: column;
	}

	.button{
		margin-right: 40px;
		@include res(m){
			margin-right: 30px;
		}
		@include res(s){
			margin-right: 0;
			margin-bottom: 20px;
		}
	}

	.full-banner-video__frame{
		margin-bottom: 0;
		img{
			height: 131px;
			@include res(c){
				height: 85px;
			}
		}
	}
}
//s-clinic-header


//social-panels
.social-panels{
	display: flex;
	margin-left: -$gutter;
	margin-right: -$gutter;
	@include res(l){
		margin-left: -5px;
		margin-right: -5px;
	}
}

.social-panel{
	display: block;
	margin: 0 $gutter;
	width: calc(20% - #{$gutter * 2});
	flex-shrink: 0;
	background: #FFF;
	border-radius: 10px;
	text-align: center;
	padding: 30px 10px 30px;
	transition: box-shadow 0.3s ease;
	@include res(l){
		margin: 0 5px;
		width: calc(20% - 10px);
		padding: 20px 10px 20px;
	}

	&:hover{
		box-shadow: $shadow-block-big;
	}

	img{
		margin-bottom: 20px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 80%;
		@include res(l){
			width: 35px;
			margin-bottom: 20px;
		}
		@include res(s){
			margin-bottom: 0;
		}
	}

	.h3{
		margin-bottom: 0.1em;
		@include res(s){
			display: none;
		}
	}

	small{
		display: block;
		line-height: 1.2;
		font-size: 16px;
		color: $gray-text;
		@include res(l){
			font-size: 12px;
		}
		@include res(s){
			display: none;
		}
	}
}
//social-panels


//s-full-banner--review
.s-full-banner--review{

}

.full-banner-review{
	.h3{
		text-align: center;
		margin-bottom: 0.5em;
	}
	.style-checkbox{
		@include res(l){
			font-size: 12px;
		}
		@include res(xs){
			margin-bottom: 10px;
		}
	}
}
//s-full-banner--review


//s-requisites
.s-requisites{
	.requisites-block{
		z-index: 10;
		margin-top: -100px;
		@include res(l){
			margin-top: -30px;
		}
		@include res(m){
			margin-top: 15px;
		}
	}
}

.requisites-block{

	.h3{
		text-align: center;
		margin-bottom: 1em;
	}

	table{
		width: 100%;
		@include res(s){
			font-size: 14px;
		}
		@include res(xs){
			font-size: 12px;
		}
		td{
			vertical-align: top;
			padding: 4px 10px;
			line-height: 1.3;
		}
		tr>td:first-child{
			color: $gray-text;
			@include res(s){
				width: 30%;
			}
		}
	}
}
//s-requisites


//welcome-block
.welcome-block{
	margin-bottom: 30px;

	.lead{
		color: $gray-text;
		margin-bottom: 1em;
	}

	img{
		display: block;
		max-width: 100%;
		height: auto;
		border-radius: 20px;
		transition: all 0.3s ease;

		&:hover{
			box-shadow: $shadow-block-big;
		}
	}
}
//welcome-block


//license-slider
.license-slider{
	margin-left: -10px;
	margin-right: -10px;
	@include res(l){
		margin-left: -12px;
		margin-right: -12px;
	}

	.swiper-wrapper.centered{
		justify-content: center;
		@include res(s){
			justify-content: flex-start;
		}
	}

	&~.slider-arrow{
		top: 150px;
		@include res(c){
			top: 11vw;
		}
		@include res(l){
			top: 16vw;
		}
		@include res(s){
			top: 21vw;
		}
		@include res(xs){
			top: 30vw;
		}
	}

	.swiper-slide{
		width: calc(100% / 6);
		padding: 10px;
		@include res(l){
			width: calc(100% / 4);
		}
		@include res(s){
			width: calc(100% / 3);
		}
		@include res(xs){
			width: calc(100% / 2);
		}
	}
}

.license-block{
	text-align: center;
}

.license-block__header{
	position: relative;
	border-radius: 10px;
	box-shadow: 0 2px 10px 0 transparentize(#a6bfcf,0.5);
	border: 5px solid #FFF;
	margin-bottom: 10px;
	background: #FFF;

	img{
		display: block;
		width: 100%;
		height: auto;
	}
}

.license-block__name{
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 6px;
	@include res(c){
		font-size: 16px;
	}
}

.license-block__descr{
	font-size: 14px;
	line-height: 1.3;
	color: $gray-text;
	@include res(l){
		font-size: 12px;
	}
}
//license-slider


//s-parking
.s-parking{
	.h1{
		margin-bottom: 0.5em;
	}
	.user-content{
		padding-right: 15px;
		@include res(m){
			margin-bottom: 25px;
			padding-right: 0;
		}
	}
}
//s-parking


//green-bg
.green-bg{
	background: $green-bg;

	&--squares{
		background: url(../img/doctor/history-bg.webp) center top no-repeat $green-bg;
		background-size: 100% auto;
	}
}
//green-bg


//metro-steps
.metro-steps{
	background: #FFF;
	box-shadow: $shadow-block-big;
	border-radius: 20px;
	margin-bottom: 40px;
	margin-top: 40px;
	padding: 0 40px 15px 40px;
	@include res(s){
		padding: 0 25px 15px 25px;
	}
}

.metro-steps__header{
	text-align: center;
	margin-bottom: 20px;

	.row{
		align-items: center;
	}

	.lead{
		font-size: 14px;
		color: #9ab5ca;
		@include res(s){
			display: none;
		}
	}
}

.metro-steps__header__main{
	position: relative;
	border: 2px solid $green-dark;
	border-radius: 10px;
	line-height: 1.2;
	padding: 20px;
	@include res(c){
		padding: 20px 15px 20px 15px;
	}
	@include res(l){
		padding: 20px 15px 15px 15px;
	}
	@include res(xs){
		padding-bottom: 10px;
	}

	&:before{
		content: '';
		position: absolute;
		width: 40px;
		height: 40px;
		top: -20px;
		left: 0;
		right: 0;
		margin: 0 auto;
		border: 2px solid $green-dark;
		border-radius: 50%;
		z-index: -1;
	}

	img{
		position: absolute;
		width: 36px;
		height: 36px;
		top: -18px;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 2;
		border: 2px solid #FFF;
		border-radius: 50%;
	}

	.lead-big{
		color: $green-dark;
		font-size: 22px;
		@include res(c){
			font-size: 18px;
		}
		@include res(m){
			font-size: 16px;
		}
	}
}

.metro-steps__info__item{
	margin-bottom: 15px;

	figure{
		position: relative;
		border-top: 2px solid $green-dark;
		margin-bottom: 20px;
		margin-top: 20px;

		&:after{
			content: '';
			position: absolute;
			right: 0;
			top: -8px;
			width: 14px;
			height: 14px;
			border-right: 2px solid $green-dark;
			border-top: 2px solid $green-dark;
			transform: rotate(45deg);
		}

		figcaption{
			position: absolute;
			left: 0;
			top: -12px;
			width: 22px;
			height: 22px;
			display: flex;
			align-items: center;
			justify-content: center;

			&:before{
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				right: 0;
				background: $green-dark;
				border-radius: 4px;
				transform: rotate(45deg);
				z-index: 1;
			}

			span{
				position: relative;
				z-index: 2;
				font-weight: bold;
				font-size: 16px;
				color: #FFF;
			}
		}
	}
	
	&--last{
		figure{
			&:after{
				border-top: none;
				transform: none;
				top: -14px;
			}
		}
	}
}
//metro-steps



//clinic-info-left
.clinic-info-left{
	padding-left: 20px;
	max-width: 500px;
	@include res(s){
		margin-bottom: 20px;
	}
	@include res(xs){
		padding-left: 0;
	}

	.contacts-clinic-panel__param{
		&:first-child{
			border-top: none;
		}
	}
}

.clinic-info-left__actions{
	padding-top: 30px;

	.button{
		width: 402px;
		max-width: 100%;
		margin-bottom: 15px;
		@include res(l){
			font-size: 12px;
			width: 300px;
		}
	}
}

.clinic-map{
	width: 100%;
	height: 370px;
	border-radius: 20px;
	overflow: hidden;
	@include res(s){
		height: 300px;
	}
	@include res(xs){
		height: 250px;
	}
}
//clinic-info-left