// intro-header__share
.intro-header__share {
	background: #FFF;
	border-radius: 40px;
	padding: 38px;
	max-width: 470px;
	margin-top: 34px;
	box-shadow: 0px 25px 80px rgba(79, 122, 162, 0.1);

	@include res(m) {
		box-shadow: 0px 25px 80px rgba(79, 122, 162, 0.2);
		padding: 20px 20px;
		margin-top: 26px;
		border-radius: 20px;
	}

	.h2 {
		font-weight: 600;
		line-height: 1.1;
		margin-bottom: 0.6em;
	}

	.stars-list-simple {
		font-weight: 600;
		margin-bottom: 24px;

		@include res(m) {
			font-size: 16px;
		}

		li {
			padding-left: 1.6em;
		}

		li:before {
			font-size: 0.8em;
			top: 0.25em;
		}

		mark {
			background: none;
			color: $pink;
		}
	}

	.button {
		width: 100%;
	}
}

// intro-header__share



// s-share-preims
.s-share-preims {
	.sec-title {
		max-width: 19em;
	}
}

.share-preims-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: $gutter*2;

	@include res(l) {
		gap: $gutter;
	}

	@include res(m) {
		grid-template-columns: 1fr;
	}
}

.share-preim {
	background: #FFF;
	border-radius: 30px;
	padding: 36px;
	box-shadow: 0px 25px 80px rgba(79, 122, 162, 0.1);

	@include res(l) {
		padding: 25px;
	}

	@include res(m) {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	&:nth-child(1) {
		.share-preim__title mark {
			color: #72DBD4;
		}
	}

	&:nth-child(2) {
		.share-preim__title mark {
			color: #E4A171;
		}
	}

	&:nth-child(3) {
		.share-preim__title mark {
			color: #F85E76;
		}
	}

	.text-18 {

		@include res(l) {
			font-size: 16px;
		}
	}
}

.share-preim__img {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 24px;
}

.share-preim__title {
	font-size: 26px;
	line-height: 1.15;
	margin-bottom: 0.8em;

	@include res(l) {
		font-size: 24px;
		margin-bottom: 0.6em;
	}

	mark {
		background: none;
	}
}

// s-share-preims


// s-share-fiend
.s-share-fiend {

	.sec-title {
		max-width: 15em;
	}

	.sec-title-descr {
		font-size: 24px;

		@include res(s) {
			font-size: 18px;
		}
	}
}

.share-fiend-stage {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 1484px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	position: relative;
	min-height: 828px;

	@include res(c) {
		min-height: 550px;
	}

	@include res(l) {
		flex-wrap: wrap;
		align-items: flex-start;
		padding-bottom: 70px;
		gap: 0 30px;
	}
}

.share-fiend-stage__center {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1143px;

	@include res(c) {
		width: 600px;
		max-width: 100%;
	}

	@include res(l) {
		width: 100%;
		flex-shrink: 0;
	}

	@include res(s) {
		margin-bottom: 20px;
	}

	&:before {
		content: '';
		width: 100%;
		height: 133px;
		position: absolute;
		bottom: -2px;
		left: 50%;
		transform: translate(-50%, 0);
		background: url(../img/share/save-round-bg.svg) center bottom no-repeat;
		background-size: 100% 100%;
		display: none;

		@include res(l) {
			height: 60px;
			display: block;
		}

		@include res(s) {
			height: 40px;
		}
	}

	img {
		display: block;
		width: 100%;
		height: auto;

		@include res(l) {
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.share-fiend-stage__label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFF;
	width: 459px;
	height: 180px;
	background: url(../img/share/friend-label.svg) no-repeat center center;
	background-size: contain;
	position: absolute;
	bottom: -55px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	line-height: 1.25;
	filter: drop-shadow(0 10px 30px rgba($pink, 0.7));
	padding: 10px 50px;
	z-index: 10;

	@include res(c) {
		width: 271px;
		height: 107px;
		padding: 10px 25px;
		bottom: -25px;
		filter: drop-shadow(0 5px 15px rgba($pink, 0.7));
	}

	strong {
		display: block;
		font-size: 55px;
		line-height: 1;
		white-space: nowrap;
		margin-bottom: 0.3em;

		@include res(c) {
			font-size: 30px;
		}
	}

	small {
		font-size: 22px;
		text-transform: uppercase;

		@include res(c) {
			font-size: 13px;
		}
	}
}

.share-fiend {
	position: absolute;
	background: #FFF;
	border-radius: 30px;
	padding: 30px;
	filter: drop-shadow(0 25px 40px rgba(79, 122, 162, 0.1));
	width: 390px;
	top: 280px;

	@include res(c) {
		top: 0;
		padding: 25px;
		width: 340px;
		max-width: 100%;
	}

	@include res(l) {
		position: relative;
		margin-top: 170px;
		left: initial !important;
		right: initial !important;
	}
}

.share-fiend--left {
	left: 20px;

	.share-fiend__label {
		transform: rotate(-12deg);
	}
}

.share-friend--right {
	right: 20px;

	.share-fiend__label {
		transform: rotate(12deg);
	}
}

.share-fiend__top {
	position: absolute;
	bottom: calc(100% - 5px);
	width: 264px;
	height: 123px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: url(../img/share/friend-top.svg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.share-fiend__label {
	width: 99px;
	height: 99px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFF;
	background: url(../img/share/sale-label.svg);
	filter: drop-shadow(0 10px 24px rgba(248, 94, 118, 0.5));
	padding-bottom: 5px;

	strong {
		white-space: nowrap;
		font-weight: bold;
		font-size: 30px;
		line-height: 1;
	}

	small {
		display: block;
		font-size: 20px;
		line-height: 1;
		font-weight: bold;
	}
}

.share-fiend__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.35;
	text-transform: uppercase;
	margin-bottom: 0.3em;

	mark {
		background: none;
		color: $gray-text;
	}
}

.share-fiend__descr {
	font-size: 14px;
	margin-bottom: 10px;
}

.share-fiend__price {
	white-space: nowrap;
	font-size: 26px;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 1em;
}

.share-fiend__block {
	border-radius: 12px;
	background: $gray-bg;
	border: 2px dashed rgba($gray-border, 0.4);
	padding: 20px;
}

.share-fiend__subtitle {
	color: $text-dark-grey;
	text-transform: uppercase;
	line-height: 1.2;
	margin-bottom: 0.2em;
}

.share-fiend__percent {
	display: inline-block;
	font-weight: bold;
	font-size: 55px;
	line-height: 1.1;
	color: $pink;
	margin-bottom: 16px;
	border-bottom: 2px solid $green;
	white-space: nowrap;
}

.share-fiend__save {
	font-weight: bold;
	font-size: 32px;
	line-height: 1.2;
	white-space: nowrap;
	color: $green;
}

// s-share-fiend



// s-share-save
.s-share-programs {
	background: #E5F1F8;

	@include res(c) {
		padding-top: 40px;
	}

	@include res(l) {
		padding-top: 20px;
	}

	&:before {
		content: '';
		width: 100%;
		height: 133px;
		position: absolute;
		bottom: calc(100% - 2px);
		left: 50%;
		transform: translate(-50%, 0);
		background: url(../img/share/save-round.svg) center bottom no-repeat;
		background-size: 100% 100%;

		@include res(l) {
			height: 60px;
		}

		@include res(s) {
			height: 40px;
		}
	}

	.sec-title {
		max-width: 18em;
	}
}


.s-share-programs__arrow {
	display: block;
	position: relative;
	left: -20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;

	@include res(l) {
		margin-top: 0;
		width: 46px;
		height: auto;
		left: -10px;
	}
}

.s-share-programs__subtitle {
	padding-top: 1em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 20em;
	margin-bottom: 40px;

	@include res(s) {
		font-size: 18px;
	}

	mark {
		background: none;
		color: $pink;
	}
}

.share-programs-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 60px $gutter * 2;

	@include res(l) {
		gap: 60px $gutter;
	}

	@include res(m) {
		grid-template-columns: 1fr;
	}
}

.share-program {
	display: flex;
	flex-direction: column;
	position: relative;
	background: #FFF;
	border-radius: 20px;
	padding: 9px 30px 25px 30px;
	box-shadow: 0px 25px 80px rgba(79, 122, 162, 0.1);

	@include res(l) {
		padding: 8px 24px 24px 24px;
	}

	@include res(m) {
		max-width: 400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 33px;
	}
}

.share-program__img {
	display: block;
	border-radius: 10px;
	height: auto;
	margin-bottom: 24px;
	margin-left: -21px;
	width: calc(100% + 42px);

	@include res(l) {
		margin-left: -16px;
		width: calc(100% + 32px);
	}
}

.share-program__title {
	font-size: 26px;
	line-height: 1.1;
	margin-bottom: 0.5em;

	@include res(l) {
		font-size: 22px;
	}
}

.share-program__descr {
	margin-bottom: 20px;

	@include res(l) {
		font-size: 14px;
	}

	p {
		margin-bottom: 0.5em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.share-program__bonuses {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	margin-bottom: 10px;
}

.share-program__bonus {
	border: 1px dashed #C9D6E1;
	border-radius: 12px;
	padding: 10px 14px;
	line-height: 1.1;
	text-transform: uppercase;

	@include res(l) {
		font-size: 12px;
		padding: 10px 10px;
	}

	strong {
		display: block;
		color: $pink;
		font-size: 30px;
		white-space: nowrap;
		text-transform: none;

		@include res(l) {
			font-size: 24px;
		}
	}
}

.share-program__saves {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.6em;
	font-size: 16px;
	border-radius: 12px;
	border: 1px solid rgba(#C9D6E1, 0.5);
	padding: 14px 16px;

	@include res(l) {
		font-size: 14px;
		padding: 12px 14px;
	}
}

.share-program__save {
	text-transform: uppercase;
	line-height: 1.1;

	mark {
		background: none;
		color: $green;
		font-size: 20px;
		font-weight: bold;
		text-transform: none;
		white-space: nowrap;

		@include res(l) {
			font-size: 16px;
		}
	}
}

.share-program__bottom {
	margin-top: auto;
	padding-top: 24px;

	@include res(l) {
		padding-top: 20px;
	}
}

.share-program__plus {
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: $pink;
	transition: all 0.3s ease;
	-webkit-tap-highlight-color: transparent;
	display: none;
	cursor: pointer;

	@include res(m) {
		display: flex;
	}

	&.active {
		background: #A0AEB9;
		transform: rotate(135deg);
	}
}

.hide-mob {
	@include res(m) {
		display: none;
	}

	&.active {
		display: block;
	}
}

// s-share-save


// share-banner
.share-banner {
	position: relative;
	overflow: hidden;
	background: radial-gradient(50% 130% at 70% 45%, #FFF2EB, #EBDDD5);
	border-radius: 30px;
	padding: 44px;

	@include res(l) {
		padding: 30px;
		border-radius: 20px;
	}

	@include res(s) {
		padding: 25px 25px 0 25px;
	}
}

.share-banner__title {
	position: relative;
	z-index: 2;
	font-weight: 600;
	font-size: 38px;
	line-height: 1;
	margin-bottom: 0.8em;
	max-width: 20em;
	width: 60%;

	@include res(l) {
		width: 100%;
		font-size: 30px;
	}

	@include res(s) {
		font-size: 22px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

.share-banner__list {
	position: relative;
	z-index: 2;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: flex-start;
	max-width: 60%;

	@include res(s) {
		max-width: 100%;
	}
}

.share-banner__item {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 20px;
	line-height: 1.1;
	font-weight: 400;

	@include res(l) {
		font-size: 16px;
	}

	strong {
		font-weight: bold;
		color: $pink;
		font-size: 24px;

		@include res(l) {
			font-size: 20px;
		}
	}
}

.share-banner__item--marked {
	background: #FFF;
	border-radius: 12px;
	padding: 5px 12px;
	margin-left: -12px;
	margin-right: -12px;
}

.share-banner__actions {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	z-index: 2;
	gap: 20px 20px;
	max-width: 50%;

	@include res(s) {
		max-width: 100%;
		flex-direction: column;
		align-items: center;
	}
}

.share-banner__img {
	position: absolute;
	bottom: 0;
	right: 30px;
	width: 545px;
	height: auto;
	user-select: none;
	pointer-events: none;
	max-width: 45%;

	@include res(s) {
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
		right: initial;
		margin-top: 20px;
		width: 272px;
		max-width: 100%;
	}
}


.share-banner--aside{
	padding: 30px 20px;

	.share-banner__title{
		font-size: 22px;
		text-align: center;
		width: 100%;
		max-width: 100%;
	}

	.share-banner__list{
		max-width: 100%;
	}

	.share-banner__item{
		font-size: 16px;

		strong{
			font-size: 1em;
			font-weight: normal;
		}
	}

	.button{
		font-size: 12px;
		width: 100%;
	}
}
// share-banner