//s-full-banner
.s-full-banner{
	display: flex;
	align-items: center;
	@extend %round-bottom;
	padding: 70px 0;
	min-height: 779px;
	background-position: center top;
	background-size: cover;
	@include res(xl){
		min-height: 600px;
	}
	@include res(l){
		min-height: initial;
	}
	@include res(m){
		padding: 40px 0 0 0;
		background: none !important;
	}

	&:after{
		@include res(m){
			display: none;
		}
	}
}

.s-full-banner__content{
	max-width: 50%;
	@include res(m){
		max-width: 100%;
	}
}

.s-full-banner__title{
	margin-bottom: 0.5em;
}

.s-full-banner__subtitle{
	font-style: italic;
	font-size: 30px;
	line-height: 1.2;
	@include res(xl){
		font-size: 26px;
	}
	@include res(l){
		font-size: 22px;
	}
	@include res(m){
		font-size: 20px;
	}
}

.s-full-banner__btn{
	margin-top: 80px;
	@include res(xl){
		margin-top: 40px;
	}
	@include res(l){
		margin-top: 30px;
	}
}

.s-full-banner__img-mob-wrap{
	margin-top: 30px;
	border-radius: 20px;
	overflow: hidden;
	display: none;
	@include res(m){
		display: block;
	}
}

.s-full-banner__img-mob{
	display: block;
	width: 180%;
	height: auto;
	transform: translate(-40%,0);
}

.full-banner-pay-block{
	margin-top: 30px;
	.h4{
		margin-bottom: 20px;
	}

	img{
		display: block;
		max-width: 100%;
	}

	.button{
		margin-top: 40px;
		@include res(xs){
			margin-top: 30px;
		}
	}
}

.s-full-banner--teledent-head{
	background-image: url('../img/teledent/head-banner.webp');
}

.s-full-banner--teledent-head-2{
	background-image: url('../img/teledent/head-banner-2.webp');
}

.s-full-banner--teledent-pay{
	//background-image: url('../img/teledent/pay-banner.webp');
}

.s-full-banner--teledent-alert{
	//background-image: url('../img/teledent/alert-banner.webp');

	.s-full-banner__img-mob-wrap{
		@include res(m){
			display: none;
		}
	}

	.s-full-banner__content{
		@include res(m){
			padding-bottom: 15px;
		}
	}
}

.full-banner-alert-list{
	display: flex;
	align-items: flex-start;

	img{
		flex-shrink: 0;
		margin-right: 20px;
		@include res(l){
			width: 61px;
		}
		@include res(xs){
			width: 40px;
			margin-right: 15px;
		}
	}

	.checked-black-list{
		font-size: 18px;
		@include res(l){
			font-size: 16px;
		}
	}
}

.full-banner-video{
	display: flex;
	align-items: center;
	margin-top: 60px;
	@include res(s){
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
	}
}

.full-banner-video__doctor{
	margin-right: 30px;
	flex-shrink: 0;
	@include res(s){
		margin-bottom: 20px;
		text-align: center;
		margin-right: 0;
	}

	span{
		display: block;
		line-height: 1.2;
	}
}

.full-banner-video__right{
	display: flex;
	align-items: center;
	@include res(s){
		flex-direction: column;
		align-items: center;
	}

	&:hover{
		.play-btn{
			background: $green;

			&:before{
				border-color: $green;
			}
		}
	}
}

.full-banner-video__frame{
	display: flex;
	align-items: center;
	@include res(s){
		padding-left: 60px;
		margin-bottom: 5px;
	}

	img{
		border-radius: 20px;
	}

	.play-btn{
		font-size: 5.5px;
		position: relative;
		left: -30px;
		&:before{
			box-shadow: 0 0 0 7px #FFF inset;
		}
	}
}

.full-banner-video__text{
	color: $gray-text;
	line-height: 1.3;
	max-width: 200px;
	@include res(s){
		text-align: center;
	}
}
//s-full-banner


//faq
.ol-two-columns{
	counter-reset: borderdrops;

	.border-drops--list{
		counter-reset: initial;
	}

	.border-drops{
		@include res(m){
			margin-bottom: 10px;
		}
	}

	.border-drop__header{
		font-size: 20px;
		@include res(m){
			font-size: 18px;
		}
		@include res(xs){
			font-size: 16px;
		}
	}
}
//faq


//s-teledent-preims
.s-teledent-preims{

}

.teledent-preims{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	@include res(c){
		margin-left: -7px;
		margin-right: -7px;
	}

	&.anim{
		.teledent-preim{
			opacity: 0;
			transform: translate3d(0,40px,0);
			@include res(l){
				transition: none;
				opacity: 1;
				transform: none;
			}

			@for $i from 1 through 6 {
				&:nth-child(#{$i}) {
					transition: transform 1s ease $i * 0.2s, opacity 1s ease $i * 0.2s, box-shadow 0.3s ease;
				}
			}
		}
	}
	
	&.animated{
		.teledent-preim{
			opacity: 1;
			transform: none;
		}
	}
}

.teledent-preim{
	min-height: 230px;
	margin: 0 15px 30px 15px;
	width: calc(100% / 3 - 30px);
	@include res(c){
		margin: 0 7px 15px 7px;
		width: calc(100% / 3 - 15px);
	}
	@include res(l){
		min-height: 200px;
		padding: 15px 20px;
	}
	@include res(s){
		width: calc(100% / 1 - 15px);
		min-height: 170px;
	}
	@include res(xs){
		min-height: 170px;
		width: calc(100% / 1 - 15px);
	}

	.h3{
		margin-bottom: 0.5em;
		position: relative;
		z-index: 3;
	}

	span{
		display: block;
		max-width: 50%;
		line-height: 1.4;
		position: relative;
		z-index: 3;
		@include res(c){
			font-size: 14px;
		}
		@include res(l){
			min-width: 70%;
		}
	}
}

a.teledent-preim:hover{
	box-shadow: $shadow-block;
}

.teledent-preim__imgwrap{
	position: absolute;
	top: 7px;
	bottom: 7px;
	left: 7px;
	right: 7px;
	border-radius: 15px;
	overflow: hidden;
	pointer-events: none;
	user-select: none;
}

.teledent-preim__tooth{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	max-width: 50%;
	@include res(l){
		max-width: 30%;
	}
}

.teledent-preim__img{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	max-width: 50%;
	max-height: 100%;
	@include res(l){
		max-width: 30%;
	}
}
//s-teledent-preims


//s-teledent-steps
.s-teledent-steps{
	overflow: hidden;

	.sec-title-descr{
		@include res(m){
			margin-bottom: 40px;
		}
	}
}

.teledent-steps{
	display: flex;
	justify-content: center;
	position: relative;
	margin-left: -$gutter;
	margin-right: -$gutter;
	@include res(m){
		flex-direction: column;
		align-items: flex-start;
		margin-left: 0;
		margin-right: 0;
	}
	
	&.anim{
		.teledent-step{
			opacity: 0;
			transform: translate3d(40px,0,0);
			transition: all 1s ease;
			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {
					transition-delay: $i * 0.2s;
				}
			}
			@include res(l){
				transition: none;
				opacity: 1;
				transform: none;
			}
		}
	}
	
	&.animated{
		.teledent-step{
			opacity: 1;
			transform: none;
		}
	}
}

.teledent-step{
	display: flex;
	flex-direction: column;
	width: calc(100% / 3);
	padding: 0 $gutter;
	position: relative;
	@include res(m){
		width: 100%;
		padding: 25px 15px 15px 15px;
		box-shadow: $shadow-block;
		border-radius: 20px;
		margin-bottom: 25px;
		text-align: center;
	}

	.lead-big{
		display: block;
		margin-bottom: 0.5em;
	}

	.h3{
		margin-bottom: 0.3em;
		padding-right: 30px;
		max-width: 340px;
		@include res(m){
			padding-right: 0;
			max-width: initial;
		}
	}

	span{
		display: block;
		line-height: 1.4;
		font-size: 18px;
		padding-right: 20px;
		max-width: 340px;
		@include res(c){
			font-size: 16px;
		}
		@include res(m){
			padding-right: 0;
			display: none;
			max-width: initial;
		}

		a{
			@extend .link-border;
		}

		&.teledent-step__mobile-text{
			display: none;
			@include res(m){
				display: block !important;
			}
		}
	}

	figure{
		align-items: center;
		justify-content: center;
		position: absolute;
		top: -15px;
		left: 0;
		right: 0;
		width: 30px;
		height: 30px;
		margin: 0 auto;
		color: #FFF;
		font-weight: bold;
		font-size: 20px;
		z-index: 3;
		user-select: none;
		pointer-events: none;
		display: none;
		@include res(m){
			display: flex;
		}

		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 4px;
			background: $green;
			transform: rotate(45deg);
			z-index: -1;
		}
	}
}


.teledent-step__imgwrap{
	height: 220px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	margin-bottom: 15px;
	@include res(l){
		height: 110px;
	}
	@include res(m){
		height: auto;
	}

	img{
		display: block;
		max-width: 100%;
		@include res(l){
			height: 90px;
		}
		@include res(m){
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
		}
	}
}


.teledent-steps--bottom{
	.teledent-step{
		&:last-child{
			@include res(m){
				margin-bottom: 0;
			}
		}
		figure:before{
			background: $pink;
		}
	}
	.teledent-step__imgwrap{
		height: auto;
		margin-bottom: 0;
		margin-top: 15px;
		@include res(m){
			order: 1;
			margin-top: 0;
			margin-bottom: 15px;
		}

		img{
			@include res(l){
				transform-origin: left top;
			}
		}
	}

	.lead-big, span, .h3{
		@include res(m){
			order: 2;
		}
	}
}


.teledent-timeline{
	display: flex;
	position: relative;
	margin: 90px 0 90px 0;
	@include res(m){
		display: none;
	}

	&:before,&:after{
		content: '';
		height: 2px;
		top: -1px;
		background: $green;
		position: absolute;
	}

	&:before{
		width: calc((100vw - 1200px) / 2);
		right: 100%;
		min-width: 100px;
	}

	&:after{
		width: calc((100vw - 1200px) / 2);
		left: calc(100% - 22px);
		min-width: 100px;
	}

	figure{
		position: relative;
		user-select: none;
		pointer-events: none;
		width: calc(100% / 6 + 5px);
		flex-shrink: 0;
		
		span{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 30px;
			position: absolute;
			font-weight: bold;
			color: #FFF;
			top: -15px;
			left: 0;
			z-index: 3;
			font-size: 16px;

			&:before{
				content: '';
				position: absolute;
				left: 14px;
				width: 2px;
				border-left: 2px dashed $gray-border;
				bottom: calc(100% + 6px);
				height: 60px;
			}
		}

		&:before{
			content: '';
			position: absolute;
			top: -15px;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 4px;
			background: $green;
			transform: rotate(45deg);
			width: 30px;
			height: 30px;
			z-index: 2;
		}

		&:after{
			content: '';
			position: absolute;
			height: 2px;
			background: $green;
			left: 0;
			top: -1px;
			width: calc(100% - 20px);
		}

		&:nth-child(2n){
			&:before{
				background: $pink;
			}

			span:before{
				bottom: initial;
				top: calc(100% + 6px);
			}
		}
	}
	
	&.anim{
		&:before,&:after{
			transform: scale3d(0,1,1);
			transition: all 0.6s ease;
			transform-origin: left center;
		}
		&:after{
			transition-delay: 1.6s;
		}
		figure{
			&:before{
				transform: scale3d(0,0,1) rotate(-45deg);
				transition: all 0.6s ease;
			}
			&:after{
				transform: scale3d(0,1,1);
				transition: all 0.6s ease;
				transform-origin: left center;
			}
			@for $i from 1 through 6 {
				&:nth-child(#{$i}) {
					&:before,&:after{
						transition-delay: 0.2s + $i * 0.2s;
					}
				}
			}
		}
	}

	&.animated{
		&:before,&:after{
			transform: none;
		}
		figure{
			&:before{
				transform: scale3d(1,1,1) rotate(45deg);
			}
			&:after{
				transform: none;
			}
		}
	}
}
//s-teledent-steps


//promo-banner-social
.promo-banner-social{
	display: flex;
	align-items: stretch;
	position: relative;
	color: #FFF;
	background: linear-gradient(90deg, #0761b5, #1c368e);
	border-radius: 20px;
	overflow: hidden;
	@include res(m){
		flex-direction: column;
		align-items: flex-start;
		border-radius: 10px;
	}

	&:before{
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: url("../img/promo/squares-light.webp") right top repeat-y;
		pointer-events: none;
		user-select: none;
	}
}

.promo-banner-social__imgwrap{
	display: flex;
	justify-content: flex-end;
	position: relative;
	width: 450px;
	flex-shrink: 0;
	max-width: 40%;
	margin-right: 50px;
	@include res(c){
		margin-right: 0;
	}
	@include res(m){
		width: 200px;
		height: 200px;
		border-radius: 50%;
		max-width: initial;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		order: 2;
		margin-bottom: 20px;
	}
	@include res(xs){
		width: 150px;
		height: 150px;
	}

	&:before{
		content: "";
		width: 1px;
		height: 1px;
		border-radius: 50%;
		box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.4);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: 1;
	}

	img{
		flex-shrink: 0;
		display: block;
		position: relative;
		z-index: 2;
		height: 100%;
		@include res(m){
			position: absolute;
			left: 50%;
			transform: translate(-50%,0);
		}
	}
}

.promo-banner-social__content{
	padding: 25px 25px 10px 25px;
	@include res(m){
		padding: 20px;
	}
	@include res(xs){
		padding: 20px 15px;
	}
}

.promo-banner-social__title{
	margin-bottom: 15px;
	@include res(xs){
		margin-bottom: 10px;
	}
}

.promo-banner-social__descr{
	margin-bottom: 30px;
	max-width: 540px;
	@include res(xs){
		margin-bottom: 15px;
	}
}

.promo-banner-social__links{
	a{
		display: inline-block;
		vertical-align: top;
		white-space: nowrap;
		padding: 4px 10px;
		border-radius: 10px;
		font-size: 18px;
		background: rgba(#2b95f8,0.6);
		color: #FFF;
		transition: background-color 0.3s ease;
		margin: 0 20px 15px 0;
		@include res(m){
			font-size: 14px;
			margin: 0 5px 15px 5px;
			&:last-child{
				margin-bottom: 0;
			}
		}

		&:hover{
			background: rgba(#2b95f8,0.8);
		}
	}
}
//promo-banner-social


//s-teledent-triggers
.s-teledent-triggers{

}

.teledent-triggers{
	display: flex;
	justify-content: space-between;
	@include res(xxl){
		justify-content: center;
	}
	@include res(s){
		flex-direction: column;
		align-items: center;
	}
}

.teledent-triggers__left{
	width: 470px;
	margin-right: 15px;
	@include res(l){
		width: calc(50% - 15px);
	}
	@include res(s){
		width: 500px;
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
		display: none;
	}
}

.teledent-triggers__right{
	width: 470px;
	margin-left: 15px;
	@include res(l){
		width: calc(50% - 15px);
	}
	@include res(s){
		width: 500px;
		max-width: 100%;
		margin-left: 0;
	}
}

.teledent-trigger-head{
	display: flex;
	align-items: center;
	background: url("../img/teledent/trigger-head-bg-left.webp") center top no-repeat;
	background-size: 100% 100%;
	width: 467px;
	height: 130px;
	padding: 5px 40px 10px 80px;
	margin-bottom: 50px;
	max-width: 100%;
	@include res(l){
		padding: 5px 30px 10px 60px;
		margin-bottom: 30px;
	}
	@include res(s){
		margin-bottom: 10px;
		padding: 5px 20px 10px 30px;
		height: 100px;
		display: none;
	}

	img{
		flex-shrink: 0;
		margin-right: 20px;
		@include res(s){
			transform: scale(0.5);
			margin-right: 10px;
		}
	}

	&--right{
		background: url("../img/teledent/trigger-head-bg-right.webp") center top no-repeat;
		background-size: 100% 100%;
		padding: 5px 80px 10px 40px;
		@include res(l){
			padding: 5px 60px 10px 30px;
		}
		@include res(s){
			padding: 5px 30px 10px 20px;
		}
	}

	.lead-big{
		@include res(l){
			font-size: 14px;
		}
	}
}

.teledent-trigger{
	display: flex;
	align-items: flex-start;
	margin-bottom: 40px;
	@include res(xs){
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.teledent-trigger__imgwrap{
	width: 60px;
	margin-right: 10px;
	text-align: center;
	flex-shrink: 0;
	padding-top: 5px;

	img{
		max-width: 100%;
	}
}

.teledent-trigger__content{
	font-size: 18px;
	line-height: 1.3;
	@include res(l){
		font-size: 16px;
	}
	@include res(xs){
		font-size: 14px;
	}

	strong{
		display: block;
		font-weight: bold;
		font-size: 20px;
		@include res(l){
			font-size: 18px;
		}
		@include res(xs){
			font-size: 16px;
		}
	}
}

.s-teledent-triggers__man-left{
	position: absolute;
	left: 0;
	bottom: 0;
	max-height: 100%;
	@include res(xl){
		width: 10%;
	}
	@include res(l){
		display: none;
	}
}

.s-teledent-triggers__man-right{
	position: absolute;
	right: 0;
	bottom: 0;
	max-height: 100%;
	@include res(xl){
		width: 10%;
	}
	@include res(l){
		display: none;
	}
}
//s-teledent-triggers


//s-teledent-advantages
.s-teledent-advantages{
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.teledent-advantages-grid{
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;

	@include res(l){
		grid-template-columns: 1fr 1fr;
	}
	@include res(xs){
		grid-template-columns: 1fr;
	}*/
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
	margin-left: -10px;
	margin-right: -10px;

	&.anim{
		.teledent-advantage{
			opacity: 0;
			transform: translate3d(0,40px,0);
			transition: all 1s ease;
			@for $i from 1 through 4 {
				&:nth-child(#{$i}) {
					transition-delay: $i * 0.2s;
				}
			}
			@include res(l){
				transition: none;
				opacity: 1;
				transform: none;
			}
		}
	}
	
	&.animated{
		.teledent-advantage{
			opacity: 1;
			transform: none;
		}
	}
}

.teledent-advantage{
	line-height: 1.4;
	margin: 0 10px;
	width: calc(100% / 4 - 20px);
	@include res(l){
		width: calc(100% / 2 - 20px);
		margin-bottom: 20px;
	}
	@include res(xs){
		width: calc(100% - 20px);
	}

	strong{
		display: block;
		font-size: 20px;
		margin-bottom: 0.2em;
		@include res(c){
			font-size: 18px;
		}
		@include res(l){
			font-size: 16px;
		}
	}

	span{
		font-size: 18px;
		@include res(c){
			font-size: 16px;
		}
		@include res(l){
			font-size: 14px;
		}
	}

	a{
		@extend .link-border;
	}
}

.teledent-advantage__header{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;

	img{
		flex-shrink: 0;
	}
}


.teledent-facts-grid{
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 60px;
	@include res(l){
		grid-gap: 20px;
	}
	@include res(m){
		grid-gap: 10px;
	}
	@include res(s){
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}*/
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
	margin-right: -30px;
	@include res(l){
		margin-left: -10px;
		margin-right: -10px;
	}
	@include res(m){
		margin-left: -5px;
		margin-right: -5px;
	}
	@include res(s){
		flex-direction: column;
	}

	&.anim{
		.teledent-fact{
			opacity: 0;
			transform: translate3d(0,40px,0);
			transition: all 1s ease;
			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {
					transition-delay: $i * 0.2s;
				}
			}
			@include res(l){
				transition: none;
				opacity: 1;
				transform: none;
			}
		}
	}

	&.animated{
		.teledent-fact{
			opacity: 1;
			transform: none;
		}
	}
}

.teledent-fact{
	display: flex;
	align-items: flex-start;
	text-align: center;
	margin: 0 30px;
	width: calc(100% / 3 - 61px);
	@include res(l){
		margin: 0 10px;
		width: calc(100% / 3 - 21px);
	}
	@include res(m){
		margin: 0 5px;
		width: calc(100% / 3 - 11px);
	}
	@include res(s){
		width: 260px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;

		&:last-child{
			margin-bottom: 0;
		}
	}

	img{
		flex-shrink: 0;
	}
}

.teledent-fact__content{
	padding: 0 20px;
	@include res(m){
		padding: 0 10px;
	}

	strong{
		display: block;
		color: $pink;
		font-size: 48px;
		font-weight: bold;
		line-height: 1;
		white-space: nowrap;
		@include res(xl){
			font-size: 40px;
		}
		@include res(l){
			font-size: 32px;
		}
	}

	span{
		display: block;
		line-height: 1.3;
		font-size: 18px;
		@include res(xl){
			font-size: 16px;
		}
		@include res(l){
			font-size: 14px;
		}
	}
}
//s-teledent-advantages


//promo-banner-taxi
.promo-banner-taxi{
	display: flex;
	align-items: center;
	position: relative;
	background: #d0eef0;
	border-radius: 20px;
	overflow: hidden;
	@include res(m){
		flex-direction: column;
		border-radius: 10px;
	}

	&:before{
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: url("../img/promo/squares-dark.webp") right top repeat-y;
		pointer-events: none;
		user-select: none;
		@include res(m){
			opacity: 0.5;
		}
	}
}

.promo-banner-taxi__imgwrap{
	display: flex;
	justify-content: flex-end;
	width: calc(100% - 600px);
	@include res(l){
		width: calc(100% - 470px);
	}
	@include res(m){
		display: block;
		width: 100%;
	}

	img{
		flex-shrink: 0;
		position: relative;
		@include res(m){
			width: 105%;
			left: -2%;
		}
	}
}

.promo-banner-taxi__content{
	padding: 10px 25px 20px 0;
	width: 600px;
	flex-shrink: 0;
	@include res(l){
		width: 460px;
	}
	@include res(m){
		width: 100%;
		padding: 10px 15px 30px 15px;
	}
}

.promo-banner-taxi__title{
	margin-bottom: 15px;

	strong{
		color: $pink;
	}
}

.promo-banner-taxi__list{
	margin-bottom: 20px;
}
//promo-banner-taxi


//s-teledent-gallery
.s-teledent-gallery{

}

.teledent-gallery{
	padding: 0 30px;
	display: grid;
	grid-gap: 24px;
	grid-template-rows: 234px 132px 234px;
	grid-template-areas:
		'a b b c'
		'd e f c'
		'd e f g'
	;
	@include res(l){
		grid-template-rows: 180px 100px 180px;
		grid-gap: 15px;
	}
	@include res(m){
		padding-left: 0;
		padding-right: 0;
		grid-gap: 10px;
		grid-template-rows: 20vw 15vw 20vw;
	}
	@include res(xs){
		grid-gap: 5px;
	}
	
	&.anim{
		.teledent-gallery__frame{
			transition: transform 1s ease, opacity 1s ease;
			opacity: 0;
			transform: scale(0.8) translate3d(0,40px,0);
			@include res(l){
				opacity: 1;
				transition: none;
				transform: none;
			}

			@for $i from 1 through 12 {
				&:nth-child(#{$i}) {
					transition-delay: $i * 0.2s;
				}
			}
		}
	}
	
	&.animated{
		.teledent-gallery__frame{
			opacity: 1;
			transform: none;
		}
	}
}

.teledent-gallery__frame{
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	transition: all 0.3s ease;
	@include res(xs){
		border-radius: 5px;
	}

	&:hover{
		img{
			transform: translate(-50%,0) scale(1.05);
		}

	}

	img{
		display: block;
		position: relative;
		height: 100%;
		width: auto;
		left: 50%;
		transform: translate(-50%,0);
		transition: transform 0.6s ease;
	}

	&:nth-child(1){grid-area: a}
	&:nth-child(2){grid-area: b}
	&:nth-child(3){grid-area: c}
	&:nth-child(4){grid-area: d}
	&:nth-child(5){grid-area: e}
	&:nth-child(6){grid-area: f}
	&:nth-child(7){grid-area: g}
}


&.no-cssgrid {
	.teledent-gallery{
		display: flex;
		flex-wrap: wrap;
	}

	.teledent-gallery__frame{
		margin: 0 10px 20px 10px;
		width: calc(100% / 4 - 20px);
		height: 230px;
		&:nth-child(2){
			width: calc(100% / 2 - 20px);
		}

		img{
			border-radius: 10px;
			width: 100%;
			height: auto;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
//s-teledent-gallery