
.pb.dogovor {

	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-khtml-user-select: none;

	h1 {
		margin: 0 0 15px;

		@include res(m){
			font-size: 24px;
		}
	}



	ol {
		list-style: none;
		counter-reset: li;
		padding: 15px 0 0 !important;

		li:before {
			counter-increment: li;
			content: counters(li, ". ") ". ";
			font-weight: bold;
			font-size: inherit;
			display: inline-flex;
			padding: 0 7px 0 0;
			margin-left: -60px;
		}

		ol {
			padding-left: 60px;

			li:before {
				width: 60px;
			}

			ol {
				padding-left: 60px;

				li:before {
					margin-left: -60px;
				}

			}

		}
	}


	ul {
		margin: 0 0 0 40px;
		list-style: disc;
		padding: 10px 0 0;

		@include res(m){
			margin: 0 0 0 30px;
		}

		li {
			margin: 0 0 10px !important;
			display: list-item;

			&:before {
				content: none;
			}
		}
	}



	.container {
		> ol {
			padding-left: 60px !important;
		}
		> ol > li {
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			font-size: 18px;
			padding: 20px 0 0;

			li {
				text-transform: none;
				font-weight: normal;
				margin: 0 0 15px;
				text-align: left;
				font-size: initial;

				li{
					&:before {
						font-weight: normal;
					}
				}
			}
		}
	}
}
