
.pb .main-nav-callback__send {
   margin-right: 10px;
   width: 40px;
   height: 40px;
   flex-shrink: 0;
   display: inline-flex;
   vertical-align: top;
   align-items: center;
   justify-content: center;
   border: 1px solid #ff5274;
   border-radius: 50%;
   transition: background 0.3s ease;

   &:hover {
      background: #ff5274;

      svg {
         .st0{fill:#ffffff;}
         .st1{fill:#ffffff;}
         .st2{stroke:#ffffff;}
         .st3{stroke:#ffffff;}
      }
   }

   svg {

   }

   &--mob {
      background: #72dbd4;
      border: none;
      display: none;

      @include res(s){
         display: inline-flex;
      }

      &:hover {
         background: #72dbd4;
      }

      svg {
         .st0{fill:#ffffff !important;}
         .st1{fill:#ffffff !important;}
         .st2{stroke:#ffffff !important;}
         .st3{stroke:#ffffff !important;}
      }
   }
}




.pb .sub-menu-doctor__info small {
   white-space: normal;
}


/* fix кнопка "обратная связь" в хедере, в мак ос */
.pb .main-nav-callback__btn {
   line-height: 2;

   svg {
      margin: 0 7px 0 0;

      path {
         fill: #FF5274;
      }
   }

   &:hover {
      path {
         fill: #fff;
      }
   }
}

/* fix s-steps кнопки навигации */
