
.pb {
.interesting {

	@include res(xs){
		font-size: 14px;
	}

	&__item {
		height: 100%;
		padding-bottom: 30px;
	}

	&__link {
		height: 100%;
		transition: all 0.3s ease;
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;

		&:hover,
		&:focus {
			box-shadow: 0 3px 35px 0 rgba(166, 191, 207, 1);
		}
	}

	&__title {
		position: relative;
		text-align: center;
		color: #72dbd4;
		margin-bottom: 10px;
		padding: 0 20px;
		display: block;

		@include res(xs){
			font-size: 18px;
		}

		&::before {
			display: block;
			content: "";
			position: absolute;
			top: 0.5em;
			left: 0;
			width: 8px;
			height: 8px;
			background: #72dbd4;
			border-radius: 2px;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		&::after {
			content: "";
			position: absolute;
			top: 0.5em;
			right: 0;
			width: 8px;
			height: 8px;
			background: #72dbd4;
			border-radius: 2px;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}

	&__text {
		display: block;
		padding: 0 0 13px;

		@include res(xs){
			padding: 0 0 8px;
		}
	}

	&__more {
		color: #ff5274;
		border-bottom: 1px solid rgba(255, 82, 116, 0.5);
		transition: all 0.3s ease;
		text-align: right;
		margin: 0 0 0 auto;
		font-size: 14px;

		@include res(xs){
			font-size: 12px;
		}

		&:hover,
		&:focus {
			border-bottom: 1px solid transparent;
		}
	}

}
}
