.pb .oc-faq {
   max-width: 100%;
}

.oc-faq .title_faq {
   font-size: 26px;
   margin: 35px 0 20px;
   text-transform: none;
}

.pb .oc-faq-inner-page .border-drops--list .border-drop__header::before {
   display: none !important;
}

.pb .oc-faq-inner-page .border-drops--list .border-drop__header {
   padding-left: 25px;
}

.pb .oc-faq-inner-page .price-include {
   padding-left: 25px !important;
}
