/* старт - страница отзывы - блок отзывы врача */

.pb {

	.s-ps-counters {
		margin: -759px 0 0;
		pointer-events: none;

		@include res(l) {
			margin: -675px 0 0;
		}

		@include res(m) {
			margin: 0;
			padding: 15px 0 20px;
		}

		.reviews-header-counter header {

			@include res(xs) {
				height: 38px;
				margin-top: -13px;
			}

		}

		.ps-counters {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			flex-wrap: wrap;

			@include res(m) {
				flex-direction: row;
				justify-content: space-around;
				flex-wrap: wrap;
				margin: 0 -15px;
			}
		}

		.reviews-header-counter {
			position: relative;
			left: auto;
			top: auto;
			margin: 0 0 80px;

			&--1 {
				left: -140px;
				top: 379px;
			}

			@include res(l){
				display: inline-flex;
				width: 140px;
				height: 140px;
				margin-right: 20px;

				&--1 {
					left: -114px;
					top: 330px;
				}

				strong {
					font-size: 47px;
				}

				small {
					font-size: 14px;
				}
			}

			@include res(m) {
				margin: 0 20px;
				left: 0;
				top: 0;


				strong {
					//font-size: 45px;
				}

				small {
					//font-size: 13px;
				}
			}

			@include res(xs) {
				margin: 0 10px;
				width: 118px;
				height: 118px;

				strong {
					font-size: 30px;
				}

				small {
					font-size: 13px;
				}
			}

		}
	}

	.s-what-happens--1 {
		display: flex;
		margin-bottom: 30px;
		margin-top: -100px;
		padding-top: 165px;

		@include res(l) {
			padding-top: 135px;
		}

		@include res(m) {
			padding-top: 24px;
			margin-top: 0 !important;
			background-size: 185% auto;
			background-position: calc(100% + 100px) bottom;
		}

		.price-faq-slider__top {
			margin-bottom: 20px;
		}

		.price-faq-slider__consult {
			display: none;
		}




	}

}

.doctor-reviews {

	&__methods {

		&-item {
			margin-bottom: 20px;
		}
	}


	&__text {
		margin: 0 0 25px;
	}


	&__spec {
		display: block;
		font-size: 15px;
		font-weight: bold;
	}

	&__name {
		display: block;
		font-size: 16px;
		padding: 5px 0 0;
		font-style: italic;
	}


}
/* энд - страница отзывы - блок отзывы врача */