
@media print {
	.price-root {
		margin-bottom: 18px;
	}

	.price-root__header-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 90px;
		flex-shrink: 0;
		padding: 0 10px;


		img {
			-webkit-flex-shrink: 0;
			-ms-flex-negative: 0;
			flex-shrink: 0;
		}
	}

	.price-root__header-title {
		font-size: 30px;
		line-height: 1.25;
	}

	.price-root__metablock {
		display: none;
	}

}