.s-book--1 {
	.s-book__heading {
		margin: 0 0 25px;
		display: flex;
		flex-direction: column;

		mark {
			color: $pink;
			background: none;
		}
	}

	.s-book__content {
		margin: 0 auto 0 0;
		max-width: 960px;
	}

	.s-book__shout {
		@include res(xs) {
			font-size: 16px;
		}
	}

	.s-book__content-inner {
		padding-right: 35px;

		@include res(xs) {
			padding-right: 0;
		}
	}

}





.pb .s-book--1 .order-vertical--2 {
	position: relative;
	max-width: 380px;
	background: #f8fbfc;
	border-radius: 20px;
	padding: 40px;

	@include res(xs) {
		padding: 20px;
	}

	@include res(s) {
		margin-top: 0;
		margin-bottom: 20px;
	}

	&:after {
		content: '';
		pointer-events: none;
		position: absolute;
		left: 6px;
		top: 6px;
		bottom: 6px;
		right: 6px;
		border: 1px solid #ff5274;
		border-radius: 16px;
	}
}