
.s-survey {
	background: #5dc6ca;
	//max-width: 1190px;
	padding: 26px 45px 40px 75px;
	position: relative;
	display: flex;
	width: 100%;
	border-radius: 20px;
	flex-direction: column;

	@include res(c){
		padding: 25px 25px 25px 35px;
	}

	@include res(l){
		padding: 25px;
	}

	@include res(s){
		padding: 15px;
		border-radius: 0;
		margin: 0 -15px;
		width: calc(100% + 30px);
	}



	&:after {
		content: "";
		pointer-events: none;
		inset: 0;
		position: absolute;
		z-index: 2;
		background: url("../img/survey/bg.png") repeat-y 100% 50%;

		@include res(m){
			background-position: 35% 50%;
		}
	}
}

.pop-up-survey .s-survey {

	@include res(s){
		margin: 0;
		width: 100%;
	}

}

.pop-up-survey .fancybox-slide--html,
.pop-up-survey .fancybox-slide--iframe,
.pop-up-survey .fancybox-slide--video {
	@include res(s){
		padding: 0;
	}
}

.modal-survey .s-survey {

}

.s-survey-inner {
	position: relative;
	z-index: 3;
}

.survey {

	&__top {
		margin: 0 0 28px;

		@include res(s){
			margin: 0 0 10px;
		}
	}

	&__top-title {
		font-size: 40px;
		text-align: center;
		//line-height: 1.45;
		padding: 0 45px;
		color: #fff;

		max-width: 900px;
		margin: 0 auto;

		@include res(c){
			font-size: 32px;
		}

		@include res(m){
			font-size: 26px;
			padding: 0;
		}

		@include res(s){
			font-size: 4.3vw;
		}

	}

	&__container {

	}

	&__title{
		font-size: 31px;
		margin: 0 0 22px;

		@include res(c){
			font-size: 28px;
			margin: 0 0 20px;
		}

		@include res(l){
			font-size: 24px;
		}

		@include res(s){
			font-size: 4vw;
			text-align: center;
			margin-bottom: 1.5vh;
		}


	}

	&__counter {
		color: #3b4962;
		font-size: 18px;
		font-weight: bold;
		position: absolute;
		top: 0;
		right: 0;
	}

	&__top-block {
		font-size: 18px;
		position: relative;

		&-title {

		}
	}

	&-buttons {
		padding: 20px 0 0;
		display: flex;
		justify-content: space-between;

		@include res(xs){
			padding: 0.5vh 0 0;
		}
	}

}

.survey-form {
	background: #f5f5f5;
	border-radius: 15px;
	-webkit-box-shadow: 0 2px 15px 0 rgba(166,191,207,0.5);
	box-shadow: 0 2px 15px 0 rgba(166,191,207,0.5);
	overflow: hidden;
	margin: 9px 0 18px;
	padding: 25px 50px 33px 50px;

	@include res(c){
		padding: 25px 30px 20px 30px;
	}

	@include res(l){
		margin: 0 0 15px;
	}

	@include res(s){
		padding: 3.5vw 3.5vw 4vw;
		margin: 0;
	}

	.input-text {
		margin-bottom: 13px;
	}

	.style-check-ios {
		margin-bottom: 20px;
		margin-top: 20px;

		@include res(s){
			margin-bottom: 15px;
		}
	}

}

.img-select {

	&-box {
		display: flex;
		cursor: pointer;
		flex-wrap: wrap;
		flex-direction: column;
		position: relative;

		@include res(s){
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
			box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
			border-radius: 15px;
			margin-bottom: 25px;
			overflow: hidden;
			background: #fff;
			padding-left: 60px;
			flex-wrap: nowrap;

			@include res(s){
				margin-bottom: 2vh;
			}
		}

		@include res(s){
			padding-left: 48px;
		}
	}

	&__images {
		position: relative;
		width: 100%;
		box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
		border-radius: 15px;
		margin: 0 0 16px;

		@include res(s){
			display: block;
			max-width: 32vw;
			position: static;
			box-shadow: none;
			margin: 0 -12px 0 0;

			@media (max-height: 670px) {
				margin-top: -0.6vh;
				margin-bottom: -0.6vh;
				max-width: 31vw;
			}
		}



		img {
			display: block;
			max-width: 100%;
			height: auto;
			border-radius: 15px;
		}
	}

	&__indicator {
		border-radius: 100%;
		width: 26px;
		height: 26px;
		position: absolute;
		top: calc(100% - 13px);
		left: calc(50% - 13px);
		background-color: #fff;
		box-shadow: 0 1px 8px 0 rgba(0,0,0,0.4);

		@include res(c){
			width: 20px;
			height: 20px;
			position: absolute;
			top: calc(100% - 10px);
			left: calc(50% - 10px);
		}

		@include res(s){
			top: calc(50% - 10px);
			left: 12px;
		}

		&:after {
			content: "";
			display: block;
			opacity: 0;
			inset: 5px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 76.887 55.552'%3E%3Cpath fill='%235dc6ca' d='M34.373 49.541L76.887 5.889 70.739 0 28.426 43.458 6.078 20.632 0 26.585l22.488 22.972 6.029 5.995-.091-.085.091.085 5.856-6.011z'/%3E%3C/svg%3E");
			background-position: 50% 50%;
			position: absolute;
			background: #ff5274;
			border-radius: 50%;
			transition: all .2s ease-in;
			will-change: transform;

			@include res(c){
				inset: 3px;
			}
		}
	}

	&__radio {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&__label {
		font-size: 15px;
		letter-spacing: -0.014em;
		text-align: center;
		display: block;

		@include res(l){
			font-size: 14px;
		}

		@include res(s){
			text-align: left;
			margin-right: -20px;
			font-size: 5vw;
			line-height: 1.3;

			@media (max-height: 670px) {
				font-size: 4.45vw;
			}
		}



	}

}

.sf-input-group {
	margin-bottom: 22px;


	@include res(s){
		margin-bottom: 0;
	}
}

.sf-input-button {
	max-width: 184px;
}

.survey-form-inputs {
	//max-width: 380px;
}

.img-select__radio:checked + .img-select-box .img-select__indicator::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.st-box {
	&__title {
		font-size: 31px;
		line-height: 1.4;
		margin: 0 0 29px;

		@include res(c){
			font-size: 27px;
			line-height: 1.3;
			margin: 0 0 25px;
		}

		@include res(l){
			font-size: 25px;
			text-align: center;
		}

		@include res(s){
			font-size: 5vw;
			line-height: 1.25;
			margin: 0 0 2vh;
		}

	}

	&__title-text {
		text-transform: uppercase;
		color: #fff;
		display: block;
		font-size: 42px;
		text-shadow: 0 0px 4px rgba(0,0,0,0.15);

		@include res(c){
			font-size: 36px;
		}

		@include res(l){
			font-size: 32px;
		}

		@include res(s){
			font-size: 5.5vw;
		}

	}
}

.st-list {

	&__img {
		display: block;
		max-width: 120px;
		margin: -21px 15px -8px 0;

		@include res(s){
			max-width: 30%;
			margin: -7px 10px -7px 0;

			@media (max-height: 670px) {
				margin: -4vh 10px -2vh 0;
			}
		}



		&--1 {
			margin-top: -30px;

			@include res(s){
				max-width: 30%;
				margin: -7px 10px -7px 0;

				@media (max-height: 670px) {
					margin: -4vh 10px -2vh 0;
				}
			}


		}
	}

	&__item {
		padding: 5px 10px 5px 18px;
		background: #f5f5f5;
		border-radius: 20px;
		box-shadow: 0 2px 15px 0 rgba(166,191,207,0.5);
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 1.4;
		min-height: 75px;

		@include res(l){
			font-size: 14px;
			padding-left: 12px;
		}

		@include res(s){
			font-size: 4.4vw;
			min-height: 45px;
			margin-bottom: 1.5vh;
			padding-right: 15px;

			@media (max-height: 670px) {
				font-size: 4.2vw;
				margin-bottom: 2vh;
			}
		}



	}

	&__mark {
		color: #ff5274;
		text-transform: uppercase;
	}

}


.row--success {

	max-width: 900px;
	margin: 0 auto;

	.st-list__item {
		box-shadow: none;
		flex-flow: column;
		display: flex;
		align-items: stretch;
		padding: 0;

		max-width: 210px;
		margin: 0 auto 15px;
	}

	.st-list__item-text {
		text-align: center;
		font-size: 18px;

		@include res(l){
			font-size: 17px;
		}

		@include res(m){
			font-size: 15px;
		}

		@include res(s){
			font-size: 14px;
		}
	}

	&-img {
		height: 140px;
		margin: 0 0 15px;
		display: flex;
		box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
		border-radius: 15px;
		padding: 8px;

		.st-list__img {
			margin: 0;
			max-width: 100%;
			display: flex;
			object-fit: contain;
			width: 100%;
			height: auto;
		}
	}

	&__img-book {
		display: block;
		margin: 0 auto 10px;
	}

}

.row--success-img-book {
	margin-top: -25px;
	height: 180px;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
	margin-bottom: 0;

	@include res(s){
		margin-top: 0;
		height: 170px;
	}
}

.success--button {
	width: 170px;
	margin: 15px auto 0;
	display: block;

	@include res(m){
		width: auto;
		max-width: 170px;
	}
}

.grid--success-book {
	.row--success-img {
		position: relative;

		@include res(s){
			margin-top: 40px;
		}

		&:after {
			content: "";
			position: absolute;
			top: calc(50% - 8px);
			left: -6%;
			width: 40px;
			height: 40px;
			background: url("../img/survey/icon-plus.svg") no-repeat;
			background-size: cover;

			@include res(m){
				left: -10.5%;
			}

			@include res(s){
				left: calc(50% - 20px);
				top: -45px;
			}
		}
	}
}

.img-select-box--1 {
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
	border-radius: 15px;
	margin-bottom: 25px;
	overflow: hidden;
	background: #fff;
	padding-left: 60px;
	flex-wrap: nowrap;

	@include res(c){
		padding-left: 48px;
	}

	@include res(xs){
		margin-bottom: 20px;
	}

	.img-select__img{
		display: block;
		max-width: 122px;

		@include res(s){
			margin-right: -10px;
		}
	}

	.img-select__indicator {
		top: calc(50% - 13px);
		left: 18px;

		@include res(c){
			top: calc(50% - 10px);
			left: 12px;
		}
	}

	.img-select__label {
		text-align: left;
		margin-right: -20px;
		line-height: 1.3;
	}

	.img-select__label {
		@include res(l){
			font-size: 18px;
		}
	}
}

.button--disabled {
	background: -webkit-gradient(linear, left top, left bottom, from(#e0dede), to(rgba(255,255,255,0.3))),#c6c6c6;
	background: linear-gradient(180deg, #e0dede 0%, rgba(255,255,255,0.3) 100%),#c6c6c6;
	background-color: rgb(198, 198, 198);
	background-color: #c6c6c6;
	background-color: #cdcdcd;
	box-shadow: 0 2px 0 0 #b7b1b1,0 10px 30px 0 rgba(182,181,181,0.5);
	color: #000;
	text-shadow: 0 1px 1px #e8e0e2;
}

.survey-form .button--disabled {
	display: none;
}

.sf-input-group {
	//display: none;
}

.survey-buttons {
	.button {
		text-transform: capitalize;
		font-size: 18px;
		padding: 8px 25px 10px;
		letter-spacing: -0.026em;
		font-weight: normal;

		@include res(s){
			font-size: 3.8vw;
			padding: 1.5vw 6vw;
			line-height: 1.2em;
		}

		@include res(xs){
			font-size: 4.8vw;
			padding: 2.5vw 6vw;

			@media (max-height: 670px) {
				font-size: 4.6vw;
				padding: 2.3vw 6vw;
			}
		}


	}
}


.survey-button {

	&--prev {
		background: -webkit-gradient(linear, left top, left bottom, from(#e0dede), to(rgba(255,255,255,0.3))),#c6c6c6;
		background: linear-gradient(180deg, #e0dede 0%, rgba(255,255,255,0.3) 100%),#c6c6c6;
		background-color: rgb(198, 198, 198);
		background-color: #cdcdcd;
		box-shadow: 0 2px 0 0 #b7b1b1,0 10px 30px 0 rgba(182,181,181,0.5);
		color: #000;
		text-shadow: 0 1px 1px #e8e0e2;
	}

	&--next {
		text-shadow: 0 1px 1px #7c2e42;
		margin: 0 0 0 auto;
	}

}

.survey__content {

	&--step4 {

		.survey__content-left {
			display: none;
		}

		.survey__content-right {
			width: 100%;
		}

		.survey__title {
			text-align: center;
			margin: 0 0 10px;
		}

		.survey__sub-title {
			text-align: center;
			margin-bottom: 30px;
		}
	}
}

.success-content {
	position: relative;

	&:after {
		content: "";
		bottom: 0;
		right: 0;
		width: 80px;
		height: 80px;
		background: url("../img/survey/LM-3.webp") no-repeat;
	}

	&__title {
		margin-bottom: 15px;
	}

	p {
		margin-bottom: 10px;
	}
}

.btn-survey {
	min-width: 130px;
	cursor: pointer;
	font: 14px "Noto Sans","Segoe UI","Helvetica Neue",Arial,sans-serif;
	color: #222;
	backface-visibility: hidden;
	flex-shrink: 1;
	line-height: 40px;
	text-indent: 0;
	text-overflow: ellipsis;
	visibility: visible;
	white-space: nowrap;
	z-index: 99 !important;
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
	max-width: calc(-40px + 100vh);
	right: 0;
	transform-origin: right bottom 0;
	transform: rotate(-90deg) translateX(100%);
	background: #e2c39b;
	margin: 0;
	position: fixed;
	padding: 0 20px;
	bottom: 205px;
	transition: all 0.3s ease;
	box-shadow: 0 12px 14px 8px rgba(0,0,0,0.17), 0 2px 10px rgb(202, 169, 107) inset;
	text-shadow: 0 1px 1px #c8a468;

   &:after {
      content: "";
      inset: 0;
      animation: pulse-border 1s infinite;
      position: absolute;
      opacity: 1;
      border: 2px solid #d7b784;
      box-shadow: 0 0 7px #d5b582;
      border-radius: 8px;
   }

	@include res(s){
		line-height: 34px;
		bottom: calc(50% - 70px);
	}

	/*
	&:after {
		content: "";
		pointer-events: none;
		inset: 0;
		position: absolute;
		z-index: 2;
		background: url("../img/survey/bg.png") repeat-y 100% 50%;
		background-size: 147% auto;
	}*/

	&::before {
		content: "";
      pointer-events: none;
		width: 90%;
		min-width: 173px;
		height: 173px;
		background: rgba(252,252,252,0.2);
		position: absolute;
		right: 45%;
		top: -8px;
		border-radius: 50%;
		-webkit-transition: -webkit-transform 0.3s ease;
		transition: -webkit-transform 0.3s ease;
		transition: transform 0.3s ease;
		transition: transform 0.3s ease,-webkit-transform 0.3s ease;
	}

	&:hover,
	&:focus {
		//box-shadow: 0 12px 14px 8px rgba(0,0,0,0.25), 0 2px 10px rgb(202, 169, 107) inset;

		&::before {
			transform:scale3d(2.3,2.3,1)
		}
	}

	&.hidden {
		right: -50px;
	}
}



.modal-survey {
	padding: 0;
	background: none;
	max-width: 1260px;
	display: none;
}


@keyframes pulse-border {
   0% {
      inset: 0;
   }
   50% {

   }
   100% {
      inset: -6px;
      opacity: 0.1;
   }
}


@keyframes shakeX {
   0%,
   to {
      -webkit-transform:translateZ(0);
      transform:translateZ(0)
   }
   10%,
   30%,
   50%,
   70%,
   90% {
      -webkit-transform:translate3d(-10px,0,0);
      transform:translate3d(-10px,0,0)
   }
   20%,
   40%,
   60%,
   80% {
      -webkit-transform:translate3d(10px,0,0);
      transform:translate3d(10px,0,0)
   }
}
.animate__shakeX {
   -webkit-animation-name:shakeX;
   animation-name:shakeX
}

@keyframes shakeY {
   0%,
   to {
      -webkit-transform:translateZ(0);
      transform:translateZ(0)
   }
   10%,
   30%,
   50%,
   70%,
   90% {
      -webkit-transform:translate3d(0,-10px,0);
      transform:translate3d(0,-10px,0)
   }
   20%,
   40%,
   60%,
   80% {
      -webkit-transform:translate3d(0,10px,0);
      transform:translate3d(0,10px,0)
   }
}
.animate__shakeY {
   -webkit-animation-name:shakeY;
   animation-name:shakeY
}

