.video-inner {
	margin: 0 auto 30px;
	max-width: 850px;
	position: relative;
	width: auto !important;
	border: 10px solid #f6f8f8;
	height: 478px;

	@media all and (max-width:1000px) {
		border: 5px solid #f6f8f8;
		height: 459px;
	}

	@media all and (max-width:800px) {
		height: 414px;
	}

	@media all and (max-width:750px) {
		height: 372px;
	}

	@media all and (max-width:640px) {
		height: 354px;
	}

	@media all and (max-width:480px) {
		height: 265px;
	}

	@media all and (max-width:420px) {
		height: 224px;
	}

	@media all and (max-width:375px) {
		height: 205px;
	}

	iframe {
		display: block;
		height: 100% !important;
		width: 100% !important;
		position: absolute;
	}
}