

.box-od {

}
.box-od-heading {
	margin: 0 0 20px;
}
.box-od-heading a {
	color: #148a90;
	font-size: 15px;
	float: right;
	font-weight: normal;
	text-decoration: none;
	border-bottom: 1px dashed #148a90;
	margin: 8px 0 0;
}
.box-od-heading a:hover {
	text-decoration: none;
	border: none;
}
.box-od-content {
	background: #d4ebed;
	overflow: hidden;
	border-radius: 17px;
	padding: 10px 20px 10px 80px;
	font-size: 20px;
	margin: 0 0 30px;
	color: #353535;
	position: relative;
}
.box-od-content a {
	color: #148a90;
	font-weight: normal;
}

.vertical-form--send-img {
	.row-btn {
		padding-bottom: 0;


		.button {
			width: auto;
		}

	}
}




.box-od-holder {
	counter-reset: item;
	overflow: hidden;
	margin: 0 0 10px;
}
.box-od-holder .box-od {

}
.box-od-holder .box-od-content-header {

	overflow: hidden;
	margin: 0 0 4px;
	padding: 11px 0;

}
.box-od-holder .box-od-content::before {
	content: counters(item," ") " ";
	counter-increment: item;
	font: 24px/50px Play, Arial;
	background: #fff;
	width: 50px;
	color: #148a90;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	left: 10px;
	top: 12px;
}


@media (max-width: 640px) {
	.box-od-content {
		border-radius: 13px;
		padding: 60px 20px 10px 20px;
		font-size: 17px;
	}
	.box-od-holder .box-od-content::before {
		left: 50%;
		margin:  0 0 0 -25px;
	}
	.box-od-holder .box-od-content-header {
		text-align: center;
	}
	.n-form .btn-row {
		padding: 0;
		margin: 0;
	}
	.n-form .btn-row button {
		position: static;
		margin: 0 auto 20px;
		padding: 0;
		line-height: 43px;
		height: 43px;
	}
	.col-4 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.box-od-content .n-form input[type="text"],
	.box-od-content .n-form input[type="tel"],
	.n-form-diagnostic input,
	.n-form-diagnostic textarea{
		padding: 9px 10px;
		font-size: 15px;
	}
}

@media (max-width: 414px) {
	.box-od-content .n-form input[type="text"],
	.box-od-content .n-form input[type="tel"],
	.n-form-diagnostic input,
	.n-form-diagnostic textarea{
		font-size: 14px;
	}
}

.n-box-diagnostic {
	position: relative;
}
.n-form {
	margin: 0 0 -10px;
}
.n-form-diagnostic {
	background: #f3f3f3;
	overflow: hidden;
	padding: 20px 20px 0;
	border-radius: 5px;
	margin: 0 0 18px;
}





.n-form-text {
	overflow: hidden;
	font-size: 12px;
	text-align: center;

	a {
		color: #148a90;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}







.content-add {
	overflow: visible;
}



.form-calc {
	margin: 0 auto 30px;
	max-width: 480px;

	.row-btn {
		padding-bottom: 0;
	}

	.button {
		width: auto;
	}
}


.box-od-content .button {
	margin: 0 0 25px;
}