.form-order {

    &__title {
       margin-bottom: 20px;
    }
 
    &__item {
       margin-bottom: 30px;
    }
 
    & .row {
 
       [class*="grid"] {
          padding-bottom: 20px;
       }
 
       .input-text {
          margin: 0;
       }
    }
 
 }