@import 'base/fonts';
@import 'cabinet/base/variables-chuild';
@import 'chuild-box/page/old-site';
.pb {
	@import 'cabinet/base/variables-chuild';
	@import 'chuild-box/base/buttons';
	@import 'chuild-box/base/forms-chuild';
	@import 'chuild-box/base/grid';
	@import 'cabinet/base/buttons-chuild';
	@import 'cabinet/pay';

	@include res(m){
		.header-banner__title {
			line-height: 1.5;
		}
	}

	@include res(s){
		.teledent-triggers__left {
			display: block;
		}
		.teledent-trigger-head {
			display: flex;
		}
	}
}
.content ::selection {
	border: 1px solid $pink;
}

@import 'cabinet/video-chat';
@import 'cabinet/cabinet';
@import 'cabinet/meeting';
@import 'cabinet/stage-order';
@import 'chuild-box/banner/banner';
@import 'cabinet/teez';
@import 'cabinet/order-page';
@import 'cabinet/icons';
@import 'chuild-box/promo-hc';
@import 'chuild-box/blog';
@import 'chuild-box/dogovor';
@import 'chuild-box/interesting';
@import 'chuild-box/etaps-video-box';
@import 'chuild-box/page-doctor';
@import 'chuild-box/s-book';
@import 'chuild-box/main-nav';
@import 'chuild-box/mobile-nav';
@import 'chuild-box/print';
@import 'chuild-box/video-inner';
@import 'chuild-box/assistance';
@import 'chuild-box/login-form';
@import 'chuild-box/header';
@import 'chuild-box/about';
@import 'chuild-box/mob-panel';
@import 'chuild-box/other-cities';
@import 'chuild-box/reviews';

.pb {
	@import 'chuild-box/survey';
	@import 'chuild-box/video-reviews';
	@import 'chuild-box/intro-video-box';
	@import 'chuild-box/page/form-calc';
	@import 'chuild-box/lp-price-horizontal';
	@import 'chuild-box/modules/xdsoft_datetimepicker';
	@import 'chuild-box/modules/air-datepicker';
	@import 'chuild-box/modules/fns';
	@import 'chuild-box/modules/panel-doctor';
	@import 'chuild-box/doctors-filter';
}

@import 'chuild-box/vwb-video';

.pb {
   @import 'chuild-box/shop/shop';
}

.container {
	margin: 0 auto;
	max-width: 1280px;
}