@import 'base/fonts';
@import 'cabinet/base/variables-chuild';
@import 'chuild-box/page/old-site';

html.pb body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font: 15px/1.5 Psaltyr, Arial;

	@include res(m){
		line-height: 1.75;
	}

}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font: 15px/1.5 Trebuchetms, Arial

}

img {
	border: 5px solid red;
	display: block;
	width: auto;
	height: auto;
}


.pb .input-text {
   text-indent: 2px;
}

img {
   height: auto;
   display: inline;
   //max-width: inherit;
}

.pb.pb-footer,
.pb.pb-header,
html.pb .pb.pb-header {
	display: block;
}

.pb .page-navigation-block .stars-list {
	@include res(m){
		margin-bottom: 1em;
	}

	li {
		@include res(m){
			margin-bottom: 1em;
		}
	}
}

.pb .what-happens__form .style-check-ios {

	@include res(m){
		padding: 15px 0;
	}
}

.pb .text-12 {
	@include res(m){
		font-size: 14px;
	}
}


.pb {
	@import 'cabinet/base/variables-chuild';
	@import 'chuild-box/base/buttons';
	@import 'chuild-box/base/forms-chuild';
	@import 'chuild-box/base/grid';
	@import 'cabinet/base/buttons-chuild';
	@import 'cabinet/pay';

	@include res(m){
		.header-banner__title {
			line-height: 1.5;
		}
	}

	@include res(s){
		.teledent-triggers__left {
			display: block;
		}
		.teledent-trigger-head {
			display: flex;
		}
	}
}
.content ::selection {
	border: 1px solid $pink;
}

@import 'cabinet/video-chat';
@import 'cabinet/cabinet';
@import 'cabinet/meeting';
@import 'cabinet/stage-order';
@import 'chuild-box/banner/banner';
@import 'cabinet/teez';
@import 'cabinet/order-page';
@import 'cabinet/icons';


@import 'chuild-box/promo-hc';
@import 'chuild-box/blog';
@import 'chuild-box/dogovor';
@import 'chuild-box/interesting';
@import 'chuild-box/etaps-video-box';
@import 'chuild-box/page-doctor';
@import 'chuild-box/s-book';
@import 'chuild-box/main-nav';
@import 'chuild-box/mobile-nav';
@import 'chuild-box/print';
@import 'chuild-box/video-inner';
@import 'chuild-box/assistance';
@import 'chuild-box/login-form';
@import 'chuild-box/header';
@import 'chuild-box/about';
@import 'chuild-box/mob-panel';
@import 'chuild-box/other-cities';
@import 'chuild-box/reviews';

.pb {
	@import 'chuild-box/survey';
	@import 'chuild-box/video-reviews';
	@import 'chuild-box/intro-video-box';
	@import 'chuild-box/page/form-calc';
	@import 'chuild-box/lp-price-horizontal';
	@import 'chuild-box/modules/xdsoft_datetimepicker';
	@import 'chuild-box/modules/air-datepicker';
	@import 'chuild-box/modules/fns';
	@import 'chuild-box/modules/panel-doctor';
	@import 'chuild-box/doctors-filter';
}

@import 'chuild-box/vwb-video';

.pb {
   @import 'chuild-box/shop/shop';
}



.home-top-slide__bg{

	img{
		height: 100%;
		width: auto;

		@include res(s){
			width: 120%;
		}
		@include res(xs){
			width: 150%;
		}
	}

}

.swiper-inner {
	padding: 15px 0 45px;
	margin: 0 auto;
	max-width: 800px;

	&-full {
		max-width: inherit;
	}
}

/* fix btn s-doctor-portfolio */
.s-doctor-portfolio .btn-center {
	padding-top: 35px;

	@include res(l){
		padding-top: 25px;
	}
}



.form-row:after {
	clear: both;
	content: "";
	display: block;
}

.pb .full-banner-video__right {
	position: relative;
}

.pb .full-banner-video__frame .play-btn {
	font-size: 5px !important;
	position: absolute !important;
	left: 50% !important;
	margin-left: -5em !important;
}

@media (max-width: 680px) {
	.pb .full-banner-video__frame {
		padding-left: 0 !important;
	}
}

.review-thanks-selfi .review-thanks__text p,
.review-thanks .review-thanks__text p{
	margin: 0 0 13px;
}

/* fix gallery in page doctor */
.pb .swiper-wrapper {
	height: auto;
}

.pb .revnew-nav-item__wrap {
	height: auto;
}

.error {
	padding: 0 0 10px;
	color: #f00;
	font-size: 14px;
}

/* Специальные программы трансфера и размещения, страница regions.html*/
.pb .regions-step strong {
	margin-bottom: 15px;
}

.pb .regions-step__descr {
	font-size: 20px;
}

/* fix если необходимо лечение на страницы теледент */
.pb .teledent-timeline {
	padding: 0 0 90px;
	margin: 90px 0 0 0;
}



.pb .s-steps .slider-arrow--prev {
	left: 10px;
}

.pb .s-steps .slider-arrow--next {
	right: 10px;
}

/* display: none; btn price */
.price-header__actions {

	@include res(m){
		display: none;
	}

}

.pb .price-header {
	@include res(m){
		margin-bottom: 20px;
	}
}

/* fix padding title sub nav */
.pb .services-menu-categoory__all a {
	margin-bottom: 14px;
}

@font-face {
	font-family: 'PF DinDisplay Pro';
	src: url('../fonts/subset-PFDinDisplayPro-Regular.woff2') format('woff2'),
	url('../fonts/subset-PFDinDisplayPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
   font-display: swap;
}
/*
.pb .services-menu__main {
	font-family: "PF DinDisplay Pro", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-weight: 400;
}*/

/*
@media (min-width: 1600px) {
	.pb .home-top-slide__title {
		font-size: 2.2vw;
	}
}
*/
.telegram,
.tiktok {
	position: relative;

	svg {
		fill: #9ab5ca;
		transition: all 0.3s ease;
	}

	&:hover svg {
		fill: #ff5275;
	}
}

.pb .mob-panel__footer .top-panel__socials a,
.pb .mob-panel__footer .top-panel__socials a path {
	color: #FFF;
	fill: #FFF;
	transition: all 0.3s ease;
}

.pb .mob-panel__footer .top-panel__socials a:hover path {
	fill: #ff5275;
}

/* start fix consult-block */
.consult-block__img {
	@include res(m){
		display: none;
	}
}
/* end fix consult-block */

.border-image,
.pb .border-image,
.pb .user-content .border-image {
	max-width: 100%;
	border: 5px solid #f6f8f8;
	margin: 0 auto 25px;
	height: auto;
	display: block;

	@media all and (max-width:1000px) {
		margin: 0 auto 15px;
	}
}

.info-tip-description {
	display: none;
}

.pb {

	.main-nav__sub {
		&-inner {
			width: 880px;
			white-space: normal;

			@media (max-width: 1280px) {
				width: 830px;
			}

			@media (max-width: 1100px) {
				width: 685px;
			}

		}

		&-doctors {
			width: 33.3%;
		}
	}

	.sub-menu-doctor {
		width: 100%;
		padding-top: 6px;
		padding-bottom: 6px;

		@media (max-height: 740px) {
			padding-top: 5px;
			padding-bottom: 5px;
		}

		&__info strong {
			font-size: 12px;

			@media (max-width: 1100px) {
				font-size: 11px;
			}

			@media (max-height: 680px) {
				font-size: 11px;
			}
		}
	}

	.ba-panel__photos > .fancy {
		border: none !important;
	}

	.s-cite-namdakov {
		padding-top: 40px;

		&--left {

			@include res(m) {
				background-position: left bottom;
			}

			.cite-namdakov {
				margin-left: auto;

				&::after {
					background: url("../img/about-work/bubble-arrow-l.svg") center top no-repeat;
					left: -40px;
					right: auto;
				}
			}
		}
	}

	.footnotes {
		overflow: hidden;
		position: relative;
		padding: 40px 0 20px;
		font-size: 0.75em;

		@include res(m) {
			font-size: 0.9em;
		}

		&:after {
			content: "";
			left: 0;
			top: 15px;
			right: 0;
			position: absolute;
			border-top: 1px solid #ff5274;
		}

		.pb .user-content & p,
		.user-content & p {
			margin-bottom: 0.9em;
		}
	}

	code {
		display: block;
		border: 2px dashed #ff5274;
	}


	.cancel-list {
		&--green {
			li::before {
				background: #239ca3;
			}
		}

		&--light {
			li::before {
				background: none;
				color: #ff5274;
			}
		}

		&--light {

			&--green {
				li::before {
					background: none;
					color: #239ca3;
				}
			}
		}
	}

	.styled-table th:first-child {
		text-align: center;
	}

	.styled-table {
		.styled-table__text {
			vertical-align: top;
		}
	}

	.tippy-content {

		&__title {
			display: block;
			padding-bottom: 10px;
		}

		ul {
			padding-bottom: 10px;
		}
	}

	.review-intro {
		.video-screen {
			img {
				margin: 0;
			}
			br {
				display: none;
			}
		}
	}

	.home-top-banner .h3 {

		@media (max-width: 375px) {
			font-size: 3.65vw;
			max-width: 66%;
		}

	}

	.review-intro-list.row {

		.slider-arrow--prev {
			left: 10px;
		}

		.slider-arrow--next {
			right: 10px;
		}
	}

	.float-nav {
		right: auto;
		left: calc(50% - 1330px / 2 + 35px);

		@media (max-width: 1330px) {
			left: 35px;
		}

		@media (max-width: 680px) {
			top: initial;
			bottom: 0;
			right: 0;
			left: 0;
		}

		&-pop {
			left: 0;
			right: auto;

			&__title {
				padding-right: 15px;
				text-align: right;

				@media (max-width: 680px) {
					text-align: left;
				}
			}
		}
	}

	.s-breadcrumbs--item {
		padding-top: 60px;
		position: static;
	}

	.s-price {

		@media (min-width: 1024px) {
			padding-top: 80px;
		}
	}

}

.main {
	margin-top: 50px !important;
}

.pb {
	.labeled-blocks .labeled-block--shadow,
	.labeled-blocks--1 .labeled-block--shadow {
		height: 100%;

		@include res(s){
			height: auto;
		}
	}
}

.photo-stack-slider__descr {
	font-size: 14px;
	color: #7b90a1;
	line-height: 1.3;
	width: 100%;
	max-width: 515px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 15px;

	@include res(m) {
		margin-left: 0;
		margin-right: 0;
	}

	@include res(xs) {
		font-size: 12px;
	}
}



.pb .promo-banner-prize__btn {
	width: auto;
}

.quote-bubble a:not(.btn):not(.button):not([class^="link"]):not([class^="doc-link"]):not(.video-btn-text) {
	color: #ff5274;
	border-bottom: 1px solid rgba(255, 82, 116, 0.5);
	transition: all 0.3s ease;
}

.quote-bubble a:hover:not(.btn):not(.button):not([class^="link"]):not([class^="doc-link"]):not(.video-btn-text) {
	border-bottom: 1px solid transparent;
}

.pb {
	.oc-why__title{
		font-size: 22px;

		@include res(xl){
			font-size: 20px;
		}

		@media (max-width: 1330px){
			font-size: 1.62vw;
		}

		@include res(l){
			font-size: 20px;
		}

		@include res(xxs){
			font-size: 18px;
		}
	}

	.oc-why__text{
		font-size: 15px;

		@include res(xl){
			font-size: 14px;
		}

		@include res(l){
			font-size: 16px;
		}

		@include res(m){
			font-size: 14px;
		}
	}

	.ba-panel__portret {
		height: auto;
	}

	.labeled-block {
		height: 100%;
	}

	.btn-center {
		width: 100%;
	}

	.service-preview__img {
		width: 100%;
	}

	.service-preview-content {
		display: flex;
		height: 100%;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;

		.promo-hc-cost {
			border-top: none;
		}

		.service-preview__descr {
			min-height: 9em;
			border-bottom: none;

			@include res(m) {
				min-height: 7em;
			}

			@include res(xs) {
				min-height: auto;
			}
		}
	}

	.service-preview__price-link {
		padding: 10px 20px;
	}

	.service-preview__hidden {
		padding-bottom: 0;
	}

	.service-preview__head {
		width: 100%;

		@include res(s){
			height: auto !important;
		}

		.h4 {
			font-size: 19px;
			line-height: 1.3;

			@include res(l){
				font-size: 18px;
			}
		}
	}

	.service-preview__bottom {
		border-top: 1px solid rgba(206,218,225,0.5);
	}

	.video-panel__timeline a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	.video-panel__timeline small {
		margin-bottom: -3px;
		padding-bottom: 3px;
		background: #f8fbfc;
		display: inline-block;
	}

	.border-drop__content {
		display: block !important;
		height: 0;
	}

	.border-drop.opened .border-drop__content {
		display: block !important;
		height: max-content;
	}

	@media (min-width: 1330px){
		.license-block__name {
			font-size: 17px;
		}
	}

	.s-ba-filter--blog {

		.container {
			padding-left: 0;
			padding-right: 0;
		}

		.ba-filter-block {
			margin-top: 0;
		}
	}

	.oc-solutions__value {
		font-size: 18px;

		@include res(xxl){
			font-size: 17px;
		}

		@include res(xl){
			font-size: 16px;
		}
	}

	.user-content ul,
	.user-content ol {
		padding-left: 20px;

		@include res(l){
			padding-left: 10px;
		}
	}

}

/* fix header burger */
.s-top-panel {
	.burger {
		position: absolute !important;
		top: 0 !important;
	}
}

.mob-panel {
	.burger {
		top: 14px !important;
      right: 14px !important;
	}
}

.s-top-panel.fixed {
	top: 0;
	position: fixed;
	width: 100%;
	box-shadow: 0 -5px 9px;
}

.pb.pb-header .s-oc-header.fixed {
	@include res(l){
		padding-top: 75px;
	}
}

body.scroll {
	@include res(l){
		padding-top: 80px;
	}
}

/******************/

.main-nav__sub-blog {
	width: 672px;
	white-space: normal;

	@include res(c){
		width: 655px;
	}

	@media (max-width: 1100px){
		width: 535px;
	}
}

.breadcrumbs-scroll {
	overflow: auto;
}

.pb .social-links__item {
	@include res(xxs){
		width: 32px;
		height: 32px;
		margin: 0 8px;
	}

	@media (max-width: 350px){
		width: 29px;
		height: 29px;
		margin: 0 7px;
	}

	img {
		@include res(xxs){
			transform: scale(0.9);
		}

		@media (max-width: 350px){
			transform: scale(0.85);
		}
	}

	.footer-przies__item span {
		@media (max-width: 1150px){
			display: none;
		}
	}
}

.row-recomendacii .ba-item__content img {
	display: none;
}

.pb .s-breadcrumbs--static {
	position: static;
	margin-bottom: 10px;
}

.pb-footer {
	overflow: hidden;
}

.pb .reviews-filter-block {

	&--2 {
		margin-top: 0;
	}
}

.messenger-list {
	max-width: 80%;
	margin: 0 auto;

	&__item {
		margin-bottom: 5px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&__icon {
		display: block;
		margin: 0 auto;
		width: 36px;
		height: auto;
	}

	input {
		display: none;
	}

}

.pb .ba-filter-links__item.active {
	text-shadow: 0 0 1px #000;
}

.pb {
	.promo-banner-mini__imgwrap{
		left: 6%;

		@include res(m){
			left: 0;
		}
	}
}


.content-photo__btn-video.content-photo__btn-video—1  {
	justify-content: center;
	padding: 15px 0;

	.video-btn-text__cover {

		img {
			display: block;
			width: 300px;
			height: auto;
			border-radius: 10px;
			overflow: hidden;
			flex-shrink: 0;
			margin: 0;
			position: static;


			@include res(xs){
				width: 140px;
			}
		}
	}

	.video-btn-text .play-btn {
		@include res(xs){
			margin-right: 16px;
		}
	}

	.video-btn-text__text {
		@include res(xxs){
			font-size: 12px;
		}
	}
}



.pb .contacts-clinic-panel__actions {

	@include res(xs){
		flex-flow: column;
	}

	.button {
		@include res(xs){
			margin-bottom: 25px;
		}
	}

}


.pb .pagination__pages > span {
	background: #e6eff6;
	width: 30px;
	text-align: center;
	line-height: 34px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;

	&.active {
		color: #ff5274;
	}

	&:first-child {
		border-radius: 10px 0 0 10px;
	}

	&:last-child {
		border-radius: 0 10px 10px 0;
	}
}

.pb .content-photo__img .square-img,
.pb .content-photo__img .simple-img {
	height: auto;
}

.i.i-ig {
	filter: blur(2.5px);
}

.button.button__edit-page {
	padding: 10px 15px;
	font-size: 11px;
	border-radius: 20px;
	position: fixed;
	left: 0;
	top: 50%;
	z-index: 99;
}

.pb .case__center {
	cursor: grab;
}
.s-photo-line a {
	cursor: zoom-in;
}

.pb .home-top-banner__heart,
.pb .home-top-banner__img {
	width: auto;
}
.pb .serts-slider__item img {
	height: 250px !important;
}

.pb .promo-banner-mini__imgwrap {
	max-width: 340px;

	img {
		height: auto !important;
		width: 100% !important;
	}
}

img {
	height: auto;
}

.pb .intro-header__img {
	width: auto;
   height: auto;

	@include res(m){
		width: 160%;
	}
}

.pb .pagination__pages span,
.pb .pagination__pages a {
	width: auto;
	min-width: 30px;
	padding: 0 3px;
}

.pb .case__before img {
	width: auto;
}

.top-panel__cont-mob {
	font-family: "smileicons" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	text-indent: -9999px;

	&::before {
		content: "\e90a";
		text-indent: 0;
	}
}

/* стили для блока с с видео */

.s-intro-header--lp2 {

	.intro-header--lp {
		width: 100%;
		max-width: 100%;

	}

	.lp-intro__left {
		max-width: 557px;
		width: 100%;
	}

}

.intro-header-video {
	display: flex;
	align-items: flex-end;


	.video-btn-text {
		position: relative;
		z-index: 5;
	}

}


.video-btn-text--2 {
	align-items: center;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 36px 10px hsla(0,0%,44%,.07);
	display: flex;
	height: fit-content;
	position: relative;
}

.s-intro-header--lp2 {
	.intro-header--lp {
		@include res(l){
			margin-bottom: 25px;
		}
	}
}

.swiper-slider__wrapper--1 {
	.price-faq-slider-thumbs {
		padding-bottom: 30px;
	}
}





.lp-price-promo--1 {
	background: #5dc6ca;
	color: #fff;

	.lp-price-head {
		position: relative;
		z-index: 4;
	}

	&:after {
		content: "";
		pointer-events: none;
		inset: 0;
		position: absolute;
		z-index: 2;
		background: url("../img/survey/bg.png") repeat-y 100% 50%;
	}

   .container {
      z-index: 3;
   }

	.style-check-ios span {
		color: #fff;
	}
}




.pb .popular-block img {
	max-height: 50px;
	width: auto;
}




.intro-header__title-add-text {
	display: block;
}

.ityped-cursor {
	display: inline-block;
	opacity: 1;
	animation: blink 0.7s infinite;
}


@keyframes blink {
	0% {
		opacity:1
	}
	50% {
		opacity:0
	}
	100% {
		opacity:1
	}
}
@-webkit-keyframes blink {
	0% {
		opacity:1
	}
	50% {
		opacity:0
	}
	100% {
		opacity:1
	}
}
@-moz-keyframes blink {
	0% {
		opacity:1
	}
	50% {
		opacity:0
	}
	100% {
		opacity:1
	}
}





.pb .lp-intro-panel__bottom {
	@include res(xs){
		flex-direction: column;
	}
}

.pb .intro-header__promo__price {
	@include res(xs){
		padding: 0 0 14px;
	}

	&__new {
		@include res(xs){
			margin: 0;
		}
	}
}

.pb .intro-header__title-add-text {

	@media (min-width: 680px) {
		font-size: 27px;
	}

	@include res(s){
		font-size: 22px;
	}


	@include res(xs){
		min-height: 55px;
		margin-bottom: -10px;
	}
}


.pb .intro-header__mans {
	@include res(m){
		display: none;
	}
}



.pb .price-faq-slider-thumb {
	margin-bottom: 25px;
}



@include res(xs) {
	.pb .price-faq-slider-thumb {
		width: 100%;
	}

	.pb .price-faq-slider-thumb .h2,
	.pb .price-faq-slider-thumb h2 {
		font-size: 17px;
	}

	.pb .lp-head-trigger {
		padding: 15px 10px 15px 10px;
	}

}


.pb .fancybox-container {
	z-index: 999929999299992;
}


.__jivoCallbackBtn {
	display: none !important;
}


.pb .lp-price-head__doctor--right {
	right: 20px;
	left: auto;
	padding: 5px;


	@media (max-width: 480px) {
		display: none;
	}
}

.pb .full-banner-video__frame img {
	height: auto;
	width: 100%;
}












.pb textarea.input-text {
   resize: vertical;
}

#cookies {
   @include res(m){
      display: none;
   }
}

.blog-promo .swiper-slide {
   flex-shrink: 0;
}

.home-top-slide__bg img,
.pb .home-top-slide__bg img,
.pb .home-top-banner__img {
   max-width: inherit;
}

.pb .client__photos .swiper-slide img {
   height: auto !important;
}



.lp-price-head__bottom {
   position: absolute;
   left: 0;
   right: 0;
   z-index: 5;
   bottom: 20px;

   @include res(xs){
      position: static;
      margin-bottom: 20px;
   }

   .lp-price-head__doctor {
      position: static;
   }

   .lp-price-head__btn {
      display: flex;
      align-items: center;
      justify-content: center;

      @include res(xs){
         padding-top: 20px;
      }
   }

}


@media (max-width: 768px) {
   .pb .light-block__img {
      max-height: 200px;
      width: auto;
   }
}



.pb .oc-why__img {
   width: auto;
}



.pb .services-menu__category-link::before {
   display: none;
}

.pb .services-menu__icon {
   width: 36px;
   height: 36px;
   margin-right: 6px;
   display: block;
   background-position: center center;
   background-repeat: no-repeat;
   filter: grayscale(1);
   opacity: 0.3;
}
.pb .services-menu__category-link.active .services-menu__icon {
   filter: none;
   opacity: 1;
}

.pb .s-doctors .doctor-preview {
   height: 100%;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.pb .s-doctors .row > [class*="grid"] {
  padding-bottom: 30px;
}

.pb .s-about-dogovor {
   min-height: 730px;
}

.pb .callback-link__icon {
   display: flex;
   justify-content: center;
}

.pb .top-panel__title {
   display: flex;
   padding: 15px 0 10px;
}
.pb .mob-panel__footer .top-panel__socials {
   margin-top: 0;
}

.pb .s-intro-header .container {
   z-index: 5;
}

.s-reviews-filter {
   z-index: 3;
}




/* fix main slider */
.pb .home-top-slide--light {
   background: #E1F7F9;
   color: #239ca3;

   .home-top-slide__content {
      @include res(l) {
         background: linear-gradient(90deg,#E1F7F9 60%,rgba(255,255,255,0));
      }

      @include res(m) {
         background: linear-gradient(90deg,#E1F7F9 30%,rgba(255,255,255,0));
      }

   }
}


.s-reviews-filter {
	z-index: 7;
}